:host {
    display: inline-block;
    min-width: $min-component-width;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.pd-dropdown {
    position: relative;
}

.pd-dropdown-menu {
    position: absolute;
    background-color: $white;
    border: 2px solid $cyan-9;
    border-radius: 4px;
    z-index: 100;
    width: 100%;
    left: 0;
    max-height: 244px;
    overflow: auto;
}

.pd-dropdown-button {
    @include button-scheme(primary);
    border-radius: 4px;
    padding: 10px 12px;
    cursor: pointer;
    display: flex;
    width: 100%;

    .pd-dropdown-text {
        flex: 1 1 auto;
        text-align: start;
        overflow-x: hidden;
    }

    .pd-dropdown-caret {
        margin-left: 12px;
        flex: 0 0 auto;
    }
}
