/**
 * @prop --pd-timeline-width: Width of timeline. This includes the date line and content
 */
:host {
    display: block;
    position: relative;
    width: var(--pd-timeline-width, 300px);
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
    appearance: none;
}

.pd-timeline-line {
    position: absolute;
    height: 100%;
    width: 1em;
    background-color: $gray-3;
    z-index: 1;

    &.pd-timeline-start {
        border-top-right-radius: 0.5em;
        border-top-left-radius: 0.5em;
    }

    &.pd-timeline-end {
        border-bottom-right-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
    }
}

.pd-timeline-container {
    height: 100%;
    padding: 1.5em 0;
}

::slotted(pd-timeline-date) {
    margin-bottom: 2em;
}

::slotted(pd-timeline-date:last-child) {
    margin-bottom: 0;
}
