/**
 * @prop --pd-list-border-color: Bottom border color of a list item
 */
pd-list {
    display: flex;
    flex-direction: column;

    pd-list-item {
        border-bottom: 0.125rem solid var(--pd-list-border-color, $gray-3);
    }

    pd-list-item:last-child {
        border-bottom: none;
    }
}
