:host {
    display: flex;
    background-color: var(--pd-list-background, transparent);
}

.pd-list-item-status {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .pd-list-item-status-background {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        fill: $white;

        &.pd-list-item-status-success {
            background-color: $lime-9;
        }
        &.pd-list-item-status-danger {
            background-color: $red-9;
        }
        &.pd-list-item-status-warning {
            background-color: $yellow-9;
        }
        &.pd-list-item-status-unset {
            background-color: $gray-3;
        }

        pd-icon {
            height: 9px;
        }
    }
}

.pd-list-item-content {
    padding: 12px;
    flex: 1 1 auto;
}

.pd-list-item-status + .pd-list-item-content {
    padding: 12px 12px 12px 0;
}
