:host {
    display: flex;
    background-color: var(--pd-list-item-background, transparent);
}

.pd-list-item-status {
    width: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .pd-list-item-status-background {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        fill: $white;
    }
}

.pd-list-item-content {
    padding: 0.75rem;
    flex: 1 1 auto;
}

.pd-list-item-status + .pd-list-item-content {
    padding: 0.75rem 0.75rem 0.75rem 0;
}
