/**
 * @prop --pd-list-item-background: Background color of list item
 * @prop --pd-list-item-padding: Padding around the list item
 */
:host {
    display: flex;
    align-items: center;
    background-color: var(--pd-list-item-background, transparent);
    padding: var(--pd-list-item-padding, 0.75rem);
}

.pd-list-item-status {
    width: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .pd-list-item-status-background {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        fill: $white;
    }
}

.pd-list-item-content {
    flex: 1 1 auto;
}

.pd-list-item-status {
    padding-right: 0.75rem;
}
