:host {
    display: block;
    box-sizing: border-box;
}

pd-card-content {
    padding: 20px;
    display: block;
    position: relative;

    &.pd-card-content-collapsed {
        display: none;
    }
}
