:host {
    display: block;
    padding: 1.25em;
    box-shadow: 0 0 0.5em rgba($color: $black, $alpha: 0.45);
    border-radius: 0.25em;
    background-color: $white;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

.pd-toast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.375em;

    .pd-toast-title {
        font-weight: 700;
    }

    .pd-toast-header-left {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pd-toast-header-right {
        display: flex;
        align-self: flex-start;
        max-width: 50%;

        .pd-toast-info {
            font-size: 0.875em;
            margin-left: 1em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            align-self: center;
        }

        .pd-toast-close-button {
            margin: 0;
            padding: 0;
            background-color: transparent;
            border: none;
            margin-left: 1em;
            margin-right: -0.5em;
            margin-top: -0.5em;
            cursor: pointer;

            &:focus-visible .pd-toast-close {
                fill: $focus;
            }

            .pd-toast-close {
                fill: setcolor(primary, enabled);
                min-width: 1em;

                &:hover {
                    fill: setcolor(primary, hover);
                }

                &:active {
                    fill: setcolor(primary, pressed);
                }
            }
        }
    }
}

.pd-toast-body {
    overflow: hidden;
}
