:host {
    display: block;
    padding: 1.25rem;
    box-shadow: 0 0 0.5rem rgba($color: $pd-black, $alpha: 0.45);
    border-radius: 0.25rem;
    background-color: $white;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

.pd-toast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.375rem;

    .pd-toast-title {
        font-weight: 700;
    }

    .pd-toast-header-left {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pd-toast-header-right {
        display: flex;
        align-self: flex-start;
        max-width: 50%;

        .pd-toast-info {
            font-size: 0.875rem;
            margin-left: 1rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            align-self: center;
        }

        .pd-toast-close-button {
            margin: 0;
            padding: 0;
            background-color: transparent;
            border: none;
            margin-left: 1rem;
            margin-right: -0.5rem;
            margin-top: -0.5rem;
            cursor: pointer;

            &:focus-visible .pd-toast-close {
                @include focusRing;
            }

            .pd-toast-close {
                fill: setcolor(primary, enabled);
                min-width: 1rem;

                &:hover {
                    fill: setcolor(primary, hover);
                }

                &:active {
                    fill: setcolor(primary, pressed);
                }
            }
        }
    }
}

.pd-toast-body {
    overflow: hidden;
}
