:host {
  display: flex;
}

*,
::before,
::after {
  box-sizing: border-box;
  appearance: none;
  outline: none;
}

// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License

$slider-track-color: $gray-3 !default;

$slider-thumb-height: 1.25em !default;
$slider-thumb-width: 1.25em !default;
$slider-thumb-radius: 100% !default;
$slider-thumb-shadow-size: 0 !default;
$slider-thumb-shadow-blur: 0 !default;
$slider-thumb-shadow-color: rgba(0, 0, 0, 0.2) !default;

$slider-track-width: 100% !default;
$slider-track-height: 0.5em !default;
$slider-track-shadow-size: 0 !default;
$slider-track-shadow-blur: 0 !default;
$slider-track-shadow-color: rgba(0, 0, 0, 0.2) !default;
$slider-track-border: none !default;

$slider-track-radius: 0.5em !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($slider-track-color, $contrast) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: default;
  height: $slider-track-height;
  transition: all 0.2s ease;
  width: $slider-track-width;
}

@mixin thumb($thumb-color, $thumb-color-hover, $thumb-color-active) {
  @include shadow($slider-thumb-shadow-size, $slider-thumb-shadow-blur, $slider-thumb-shadow-color);
  background: $thumb-color;
  border-radius: $slider-thumb-radius;
  border: none;
  cursor: pointer;
  height: $slider-thumb-height;
  width: $slider-thumb-width;

  &:hover {
    background: $thumb-color-hover;
  }

  &:active {
    background: $thumb-color-active;
  }
}

.pd-slider {
  &[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    margin: calc($slider-thumb-height / 2) 0;
    width: $slider-track-width;
    &::-moz-focus-outer {
      border: 0;
    }

    &:focus-visible {
      &::-webkit-slider-thumb {
        background: $focus;
        box-shadow: 0 0 0 0.125rem $blue-whale;
      }
      &::-moz-range-thumb {
        background: $focus;
        box-shadow: 0 0 0 0.125rem $blue-whale;
      }
      &::-ms-thumb {
        background: $focus;
        box-shadow: 0 0 0 0.125rem $blue-whale;
      }
    }

    &::-webkit-slider-runnable-track {
      @include track;
      @include shadow($slider-track-shadow-size, $slider-track-shadow-blur, $slider-track-shadow-color);
      background: $slider-track-color;
      border: $slider-track-border;
      border-radius: $slider-track-radius;
    }

    &::-webkit-slider-thumb {
      @include thumb(setcolor(primary, enabled), setcolor(primary, hover), setcolor(primary, pressed));
      -webkit-appearance: none;
      margin-top: (calc($slider-track-height / 2) - calc($slider-thumb-height / 2));
    }

    &::-moz-range-track {
      @include shadow($slider-track-shadow-size, $slider-track-shadow-blur, $slider-track-shadow-color);
      @include track;
      background: $slider-track-color;
      border: $slider-track-border;
      border-radius: $slider-track-radius;
      height: $slider-track-height;
    }

    &::-moz-range-thumb {
      @include thumb(setcolor(primary, enabled), setcolor(primary, hover), setcolor(primary, pressed));
    }

    &::-ms-track {
      @include track;
      background: transparent;
      border-color: transparent;
      border-width: calc($slider-thumb-height / 2) 0;
      color: transparent;
    }

    &::-ms-fill-lower {
      @include shadow($slider-track-shadow-size, $slider-track-shadow-blur, $slider-track-shadow-color);
      background: $ie-bottom-track-color;
      border: $slider-track-border;
      border-radius: calc($slider-track-radius * 2);
    }

    &::-ms-fill-upper {
      @include shadow($slider-track-shadow-size, $slider-track-shadow-blur, $slider-track-shadow-color);
      background: $slider-track-color;
      border: $slider-track-border;
      border-radius: calc($slider-track-radius * 2);
    }

    &::-ms-thumb {
      @include thumb(setcolor(primary, enabled), setcolor(primary, hover), setcolor(primary, pressed));
      margin-top: calc($slider-track-height / 4);
    }

    &:disabled {
      &::-webkit-slider-thumb,
      &::-moz-range-thumb,
      &::-ms-thumb,
      &::-webkit-slider-runnable-track,
      &::-ms-fill-lower,
      &::-ms-fill-upper {
        cursor: not-allowed;
      }
    }
  }

  &.pd-slider-disabled {
    &::-webkit-slider-thumb {
      @include thumb($gray-disabled, $gray-disabled, $gray-disabled);
      box-shadow: 0 0 0 0.125rem setcolor(primary, disabledContrast);
      cursor: default;
    }

    &::-moz-range-thumb {
      @include thumb($gray-disabled, $gray-disabled, $gray-disabled);
      box-shadow: 0 0 0 0.125rem setcolor(primary, disabledContrast);
      cursor: default;
    }

    &::-ms-thumb {
      @include thumb($gray-disabled, $gray-disabled, $gray-disabled);
      box-shadow: 0 0 0 0.125rem setcolor(primary, disabledContrast);
      cursor: default;
    }
  }

  &.pd-slider-readonly {
    &::-webkit-slider-thumb {
      @include thumb($gray-readonly, $gray-readonly, $gray-readonly);
      box-shadow: 0 0 0 0.125rem setcolor(primary, readonlyContrast);
      cursor: default;
    }

    &::-moz-range-thumb {
      @include thumb($gray-readonly, $gray-readonly, $gray-readonly);
      box-shadow: 0 0 0 0.125rem setcolor(primary, readonlyContrast);
      cursor: default;
    }

    &::-ms-thumb {
      @include thumb($gray-readonly, $gray-readonly, $gray-readonly);
      box-shadow: 0 0 0 0.125rem setcolor(primary, readonlyContrast);
      cursor: default;
    }
  }

  &.pd-slider-error {
    &::-webkit-slider-thumb {
      @include thumb(setcolor(danger, enabled), setcolor(danger, hover), setcolor(danger, pressed));
    }

    &::-moz-range-thumb {
      @include thumb(setcolor(danger, enabled), setcolor(danger, hover), setcolor(danger, pressed));
    }

    &::-ms-thumb {
      @include thumb(setcolor(danger, enabled), setcolor(danger, hover), setcolor(danger, pressed));
    }
  }
}
