$progress-height: 30px;

:host {
    display: flex;
    position: relative;
}

.pd-progress-bar-background {
    background-color: $gray;
    position: absolute;
    width: 100%;
    height: $progress-height;
}

.pd-progress-bar {
    background-color: $blue-whale;
    position: absolute;
    width: 100%;
    height: $progress-height;
    transform-origin: left top;
    transition: transform 200ms linear;
}

.pd-progress-bar-text {
    color: white;
    position: relative;
    border-radius: 100%;
    margin-left: -5px;
    line-height: $progress-height;
    left: 50%;
}
