pd-radio {
    display: block;
}

:host {
    display: inline-block;
}

label {
    display: flex;
    align-items: center;
    margin: 6px 0;
}

label > input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;

    &:checked {
        & + .pd-radio-inner {
            &:after {
                border: 6px solid setcolor(primary, enabled);
                border-radius: 100%;
            }

            &:hover {
                &:after {
                    border: 6px solid setcolor(primary, hover);
                }
            }

            &:active {
                &:after {
                    border: 6px solid setcolor(primary, pressed);
                }
            }
        }

        &:focus {
            & + .pd-radio-inner {
                &:after {
                    content: '';
                    border: 6px solid $yellow-4;
                    border-radius: 100%;
                }
                &:before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    margin: 5px;
                    background-color: setcolor(primary, enabled);
                }
            }
        }
    }

    &:focus {
        & + .pd-radio-inner {
            &:after {
                content: '';
                border: 2px solid $yellow-4;
                border-radius: 100%;
            }
        }
    }

    & + .pd-radio-inner {
        position: relative;
        width: 20px;
        height: 20px;

        &:before,
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &:before {
            content: '';
            background-color: transparent;
        }

        &:after {
            content: '';
            border: 2px solid setcolor(primary, enabled);
            border-radius: 100%;
        }

        &:hover {
            &:after {
                border: 2px solid setcolor(primary, hover);
            }
        }

        &:active {
            &:after {
                border: 2px solid setcolor(primary, pressed);
            }
        }
    }
}

.pd-radio-text {
    padding-left: 10px;
}
