@include reset;

:host {
    display: block;
}

:host(.pd-input-error) {
    input {
        border: 2px solid setcolor(danger, enabled);

        &:hover:enabled {
            border: 2px solid setcolor(danger, hover);
        }
    }

    .pd-input-helper-text {
        color: setcolor(danger, enabled);
    }
}

input {
    display: block;
    padding: 11px 14px;
    border-radius: 4px;
    border: 2px solid setcolor(primary, enabled);
    width: 100%;

    &:hover:enabled {
        border: 2px solid setcolor(primary, hover);
    }

    &:disabled {
        border: 2px solid setcolor(primary, disabled);
        background-color: transparent;
        color: $gray;
    }

    &:focus:enabled {
        border: 2px solid $yellow-4;
    }
}

.pd-input-label-text {
    padding-bottom: 5px;
}

.pd-input-helper-text {
    margin-left: 14px;
    margin-top: 5px;
    font-size: 14px;
    line-height: 20px;
}
