:host {
    display: inline-block;
    line-height: 0;

    .icon {
        display: block;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

:host(.spin) {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}
