:host {
    background-color: transparent;
    display: block;
    opacity: 0.2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

:host(.pd-backdrop-visible) {
    background-color: $pd-black;
    cursor: pointer;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}
