@include reset;

:host {
    display: inline-block;
}

* {
    font: 16px/24px Avenir-Black;
}

.outline {
    font: 16px/24px Avenir-Medium;
}

button {
    @include button-scheme(primary);
    color: $white;
    border-radius: 4px;
    padding: 7px 12px;

    &.large {
        padding: 12px 22px;
    }

    &.small {
        padding: 4px 11px;
    }

    &.success {
        @include button-scheme(success);
    }

    &.danger {
        @include button-scheme(danger);
    }

    &.warning {
        @include button-scheme(warning);
    }

    &.info {
        @include button-scheme(info);
    }

    &.light {
        @include button-scheme(light);
    }

    &.dark {
        @include button-scheme(dark);
    }
}

a {
    color: $cyan-9;
    text-decoration: none;
}
