@include resetControlFonts;

pd-dropdown {
    display: block;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

.pd-dropdown-label {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    max-width: 100%;

    .pd-dropdown-label-text {
        padding-bottom: 0.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/**
 * @prop --pd-datepicker-vertical-adjust: top margin of label
 * @prop --pd-dropdown-vertical-padding: Possibility to change inner height of the dropdown
 * @prop --pd-dropdown-horizontal-padding: Possibility to change inner width of the dropdown 
 */
.pd-dropdown {
    position: relative;
    margin-top: var(--pd-dropdown-vertical-adjust, inherit);

    .pd-dropdown-button {
        @include button-scheme(primary);
        border-radius: 0.25rem;
        padding-top: var(--pd-dropdown-vertical-padding, 0.625rem);
        padding-bottom: var(--pd-dropdown-vertical-padding, 0.625rem);
        padding-left: var(--pd-dropdown-horizontal-padding, 0.75rem);
        padding-right: var(--pd-dropdown-horizontal-padding, 2.5rem);
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        font-weight: 700;

        .pd-dropdown-text {
            flex: 1 1 auto;
            text-align: left;
            text-overflow: ellipsis;
            overflow-x: hidden;
            white-space: nowrap;
            min-height: 1.5rem;

            &.pd-dropdown-text-wrap {
                white-space: normal;
            }
        }

        .pd-dropdown-caret {
            position: absolute;
            fill: $white;
            flex: 0 0 auto;
            right: 0.5rem;
        }

        &:hover:enabled {
            .pd-dropdown-caret {
                fill: $white;
            }
        }

        &:disabled {
            cursor: default;
            .pd-dropdown-caret {
                fill: $gray;
            }
        }

        &:active:enabled {
            .pd-dropdown-caret {
                fill: setcolor(primary, pressedContrast);
            }
        }

        &:focus-visible {
            .pd-dropdown-caret {
                fill: $blue-whale;
            }
        }
    }

    &.pd-dropdown-readonly {
        .pd-dropdown-button {
            background-color: setcolor(primary, readonly);
            color: setcolor(primary, readonlyContrast);
            border-color: setcolor(danger, readonly);
            cursor: default;
            font-style: normal;

            .pd-dropdown-caret {
                display: none;
            }
        }
    }

    &.pd-dropdown-error {
        .pd-dropdown-button {
            background: setcolor(danger, enabled);
            border-color: setcolor(danger, enabled);
            color: setcolor(danger, enabledContrast);
            .pd-dropdown-caret {
                fill: setcolor(danger, enabledContrast);
            }

            &:hover:enabled {
                background-color: setcolor(danger, hover);
                border-color: setcolor(danger, hover);
                color: setcolor(danger, hoverContrast);
                .pd-dropdown-caret {
                    fill: setcolor(danger, hoverContrast);
                }
            }

            &:active:enabled {
                background-color: setcolor(danger, pressed);
                border-color: setcolor(danger, pressed);
                color: setcolor(danger, pressedContrast);
                .pd-dropdown-caret {
                    fill: setcolor(danger, pressedContrast);
                }
            }

            &:focus-visible {
                background-color: $focus;
                border-color: $focus;
                color: $blue-whale;
                .pd-dropdown-caret {
                    fill: $blue-whale;
                }
            }
        }
    }
}

.pd-dropdown-viewonly {
    display: block;
    margin: 0;
    padding: 0.125rem 0 0.75rem 0;
}

.pd-dropdown-label-viewonly {
    font-weight: 700;
}
