@include resetControlFonts;

:host {
    // display: block;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

:host(.pd-dropdown-menu) {
    background-color: $white;
    border: 0.125em solid $cyan-9;
    border-radius: 0.25rem;
    z-index: 100;
    // width: 100%;
    overflow: auto;
}
