@include resetControlFonts;

:host {
    display: block;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

:host(.pd-dropdown-error) {
    .pd-dropdown-button {
        border: 0.125em solid setcolor(danger, enabled);

        &:hover:enabled {
            border: 0.125em solid setcolor(danger, hover);
        }
    }

    .pd-dropdown-helper-text {
        color: setcolor(danger, enabled);
    }
}

.pd-dropdown-label {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    font-size: 0.875em;
}

.pd-combobox-label-text {
    padding-bottom: 0.25em;
}

.pd-dropdown {
    position: relative;
    margin-top: var(--pd-dropdown-vertical-adjust, inherit);

    &.pd-dropdown-readonly {
        .pd-dropdown-button {
            background-color: $gray-3;
            color: $black;
            border: none;
            cursor: default;

            .pd-dropdown-caret {
                fill: $black;
            }
        }
    }
}

.pd-dropdown-menu {
    background-color: $white;
    border: 0.125em solid $cyan-9;
    border-radius: 0.25em;
    z-index: 100;
    width: 100%;
    overflow: auto;
}

.pd-dropdown-button {
    @include button-scheme(primary);
    border-radius: 0.25em;
    padding: 0.625em 0.75em;
    padding-top: var(--pd-dropdown-vertical-padding, 0.625em);
    padding-bottom: var(--pd-dropdown-vertical-padding, 0.625em);
    padding-left: var(--pd-dropdown-horizontal-padding, 0.75em);
    padding-right: var(--pd-dropdown-horizontal-padding, 0.75em);
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;

    .pd-dropdown-text {
        flex: 1 1 auto;
        text-align: left;
        text-overflow: ellipsis;
        overflow-x: hidden;
        min-height: 1.5em;
    }

    .pd-dropdown-caret {
        fill: $white;
        flex: 0 0 auto;
        margin: -0.625em -0.2em;
    }

    &:disabled {
        cursor: default;
    }
}
