@include resetControlFonts;

:host {
    display: inline-block;
    min-width: $min-component-width;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.pd-dropdown {
    position: relative;
}

.pd-dropdown-menu {
    position: absolute;
    background-color: $white;
    border: 0.125em solid $cyan-9;
    border-radius: 0.25em;
    z-index: 100;
    width: 100%;
    left: 0;
    max-height: calc(3em * 5 + 0.25em);
    overflow: auto;
}

.pd-dropdown-button {
    @include button-scheme(primary);
    border-radius: 0.25em;
    padding: 0.625em 0.75em;
    cursor: pointer;
    display: flex;
    width: 100%;

    .pd-dropdown-text {
        flex: 1 1 auto;
        text-align: start;
        overflow-x: hidden;
    }

    .pd-dropdown-caret {
        margin-left: 0.75em;
        flex: 0 0 auto;
    }
}
