:host {
    display: flex;
}

*,
::before,
::after {
    box-sizing: border-box;
}

// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License

$slider-track-color: $gray-3 !default;
$slider-thumb-color: $cyan-9 !default;
$slider-thumb-color-hover: $cyan-6 !default;
$slider-thumb-color-active: $cyan-3 !default;
$slider-thumb-color-disabled: $gray !default;

$slider-thumb-height: 1.25em !default;
$slider-thumb-width: 1.25em !default;
$slider-thumb-radius: 100% !default;
$slider-thumb-shadow-size: 0 !default;
$slider-thumb-shadow-blur: 0 !default;
$slider-thumb-shadow-color: rgba(0, 0, 0, 0.2) !default;

$slider-track-width: 100% !default;
$slider-track-height: 0.5em !default;
$slider-track-shadow-size: 0 !default;
$slider-track-shadow-blur: 0 !default;
$slider-track-shadow-color: rgba(0, 0, 0, 0.2) !default;
$slider-track-border: none !default;

$slider-track-radius: 0.5em !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($slider-track-color, $contrast) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
    box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
    cursor: default;
    height: $slider-track-height;
    transition: all 0.2s ease;
    width: $slider-track-width;
}

@mixin thumb {
    @include shadow($slider-thumb-shadow-size, $slider-thumb-shadow-blur, $slider-thumb-shadow-color);
    background: $slider-thumb-color;
    border-radius: $slider-thumb-radius;
    border: none;
    cursor: pointer;
    height: $slider-thumb-height;
    width: $slider-thumb-width;

    &:hover {
        background: $slider-thumb-color-hover;
    }

    &:active {
        background: $slider-thumb-color-active;
    }
}

[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    margin: $slider-thumb-height / 2 0;
    width: $slider-track-width;

    &::-moz-focus-outer {
        border: 0;
    }

    &:focus {
        &::-webkit-slider-thumb {
            background: $slider-thumb-color-hover;
            box-shadow: 0 0 0 0.25em $focus;
        }
        &::-moz-range-thumb {
            background: $slider-thumb-color-hover;
            box-shadow: 0 0 0 0.25em $focus;
        }
        &::-ms-thumb {
            background: $slider-thumb-color-hover;
            box-shadow: 0 0 0 0.25em $focus;
        }
    }

    &::-webkit-slider-runnable-track {
        @include track;
        @include shadow($slider-track-shadow-size, $slider-track-shadow-blur, $slider-track-shadow-color);
        background: $slider-track-color;
        border: $slider-track-border;
        border-radius: $slider-track-radius;
    }

    &::-webkit-slider-thumb {
        @include thumb;
        -webkit-appearance: none;
        margin-top: (($slider-track-height) / 2 - $slider-thumb-height / 2);
    }

    &::-moz-range-track {
        @include shadow($slider-track-shadow-size, $slider-track-shadow-blur, $slider-track-shadow-color);
        @include track;
        background: $slider-track-color;
        border: $slider-track-border;
        border-radius: $slider-track-radius;
        height: $slider-track-height;
    }

    &::-moz-range-thumb {
        @include thumb;
    }

    &::-ms-track {
        @include track;
        background: transparent;
        border-color: transparent;
        border-width: ($slider-thumb-height / 2) 0;
        color: transparent;
    }

    &::-ms-fill-lower {
        @include shadow($slider-track-shadow-size, $slider-track-shadow-blur, $slider-track-shadow-color);
        background: $ie-bottom-track-color;
        border: $slider-track-border;
        border-radius: ($slider-track-radius * 2);
    }

    &::-ms-fill-upper {
        @include shadow($slider-track-shadow-size, $slider-track-shadow-blur, $slider-track-shadow-color);
        background: $slider-track-color;
        border: $slider-track-border;
        border-radius: ($slider-track-radius * 2);
    }

    &::-ms-thumb {
        @include thumb;
        margin-top: $slider-track-height / 4;
    }

    &:disabled {
        &::-webkit-slider-thumb,
        &::-moz-range-thumb,
        &::-ms-thumb,
        &::-webkit-slider-runnable-track,
        &::-ms-fill-lower,
        &::-ms-fill-upper {
            cursor: not-allowed;
        }
    }
}
