@include resetControlFonts;

:host {
    display: flex;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

.pd-pagination-prev,
.pd-pagination-next,
.pd-pagination-first,
.pd-pagination-last,
.pd-pagination-page {
    display: grid;
    justify-items: center;
    align-items: center;
    border: 0.125rem solid $gray-3;
    min-width: 2.25rem;
    color: setcolor(primary, enabled);
    background-color: white;
    padding: 0.25rem;

    &:not(.pd-pagination-disabled):hover {
        background-color: setcolor(primary, hover);
        color: white;
        cursor: pointer;
    }

    &:not(.pd-pagination-disabled):active {
        background-color: setcolor(primary, pressed);
        color: white;
    }

    &:focus-visible {
        background-color: $focus;
    }

    span {
        margin-top: -0.2rem;
    }

    &.pd-pagination-disabled {
        color: $gray-3;
    }
}

.pd-pagination-first {
    border-right: none;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.pd-pagination-page,
.pd-pagination-prev,
.pd-pagination-next {
    border-right: none;
}

.pd-pagination-last {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.pd-pagination-active {
    color: setcolor(primary, pressed);
    background-color: setcolor(primary, enabled);
    font-weight: 700;
}

.pd-pagination-simple {
    background-color: $white;
    border: 0.125em solid $gray-3;
    border-right: none;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: end;
    padding: 0 0.25rem;
}

.pd-pagination-number {
    padding: 0 0.25rem;
    font-weight: 900;
}
