@include resetControlFonts;

:host {
    display: flex;
    background-color: $white;
    border-radius: 0.25em;
    box-shadow: 0px 0px 8px rgba($color: $pd-black, $alpha: 0.45);
    z-index: 90;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

.pd-table-filter-wrapper {
    display: flex;
    padding: 0.5em 0 0.5em 0.75em;
}

.pd-table-filter-clear {
    @include invisibleButton;
    align-items: center;
    margin: 0 0.6875rem;
    padding: 0 0.3125rem;
    display: flex;
    fill: $cyan-9;
}

.pd-table-filter-confirm {
    padding: 0 0.8125rem;
    background-color: $blue-whale;
    fill: $white;
    border: none;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;

    &:hover {
        background-color: setcolor(primary, enabled);
        fill: setcolor(primary, enabledContrast);
    }

    &:active {
        background-color: setcolor(primary, hover);
        fill: setcolor(primary, hoverContrast);
    }

    &:focus-visible {
        background-color: $focus;
        fill: $blue-whale;
    }
}

.pd-table-search-input-wrapper {
    display: flex;
    position: relative;
}

.pd-table-search-input {
    flex: 1 1 auto;
    min-width: 0;
    padding: 0.625em 0.875em;
    padding-right: 3em;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border: 0.125em solid setcolor(primary, enabled);
    border-right: none;

    &:focus-visible {
        background-color: $yellow-1;
        color: $blue-whale;
    }
}

.pd-table-search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 3em;
    height: 100%;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    background-color: setcolor(primary, enabled);
    border: 0.125em solid setcolor(primary, enabled);
    border-left: none;
    padding: 0;
    cursor: pointer;

    &:hover {
        background-color: setcolor(primary, hover);
    }

    &:active {
        background-color: setcolor(primary, pressed);
    }

    .pd-table-search-button-icon {
        fill: $white;
    }
}
