@include resetControlFonts;

:host {
    display: block;
    padding: 0 1em;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.pd-navbar-item {
    background-color: transparent;
    border: none;
    color: $cyan-3;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $white;
    }

    &:focus {
        color: $yellow-2;
    }

    &:active {
        color: $cyan-6;
    }
}
