/**
 * @prop --pd-list-item-background: Background color of list item
 */
:host {
    background-color: var(--pd-list-item-background, transparent);
    border-radius: 0.25rem;
    overflow: hidden;
}

.pd-list-item-expandable-header {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    transition: background-color 0.15s ease-in-out;
    align-items: center;

    &.pd-list-item-expandable-selected {
        background-color: $cyan-0;
    }

    /**
     * @prop --pd-list-item-content-hover: Background color for content hover effect
     */
    &.pd-content-hover {
        background-color: var(--pd-list-item-content-hover, $gray-3);
        cursor: pointer;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
    appearance: none;
    outline: none;
}

.pd-list-item-expandable-checkbox {
    padding-left: 0.75rem;
    --pd-checkbox-text-padding-left: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.pd-list-item-expandable-status {
    width: 3.125em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-list-item-expandable-content {
    padding: 0.75rem;
    flex: 1 1 auto;
    grid-column: 3 / span 1;
}

.pd-list-item-expandable-additional-content-wrapper {
    transition: height 0.3s ease-in-out;
    height: auto;

    .pd-list-item-expandable-additional-content {
        padding: 0.75rem 1rem 1.5rem 1rem;
    }
}

.pd-list-item-expandable-actions {
    display: flex;
    padding-right: 0.75rem;

    .pd-list-item-expandable-expand,
    .pd-list-item-expandable-edit {
        background-color: transparent;
        border: none;
        fill: setcolor(primary, enabled);
        cursor: pointer;
        padding: 0 0 0 0.125rem;
        margin: 0;

        &:hover {
            fill: setcolor(primary, hover);
        }

        &:focus-visible {
            @include focus;
        }

        &:active {
            fill: setcolor(primary, pressed);
        }
    }

    .pd-list-item-expandable-menu {
        --pd-menu-horizontal-padding: 0;
    }
}

.pd-list-item-expandable-status + .pd-list-item-expandable-content {
    padding: 0.75rem 0.75rem 0.75rem 0;
}

.pd-list-item-expandable-status-placeholder {
    padding-left: 0.25rem;
}
