:host {
    display: block;
}

*,
::before,
::after {
    box-sizing: border-box;
    appearance: none;
    outline: none;
}

.pd-checkbox-label {
    display: flex;
    align-items: center;
}

.pd-checkbox-label > .pd-checkbox-input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;

    & + .pd-checkbox-inner {
        cursor: pointer;
        position: relative;
        width: 1.25em;
        height: 1.25em;

        &:before,
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &:before {
            content: '';
            background-color: transparent;
        }

        &:after {
            content: '';
            border: 0.125em solid setcolor(primary, enabled);
            border-radius: 0.25em;
        }
    }

    &:hover:enabled {
        & + .pd-checkbox-inner {
            &:after {
                border: 0.125em solid setcolor(primary, hover);
            }
        }
    }

    &:active:enabled {
        & + .pd-checkbox-inner {
            &:after {
                border: 0.125em solid setcolor(primary, pressed);
            }
        }
    }

    &:focus:enabled {
        & + .pd-checkbox-inner {
            &:after {
                border: 0.125em solid $focus;
            }
        }
    }

    &:disabled {
        & + .pd-checkbox-inner {
            &:after {
                border: 0.125em solid setcolor(primary, disabled);
            }
        }
    }

    &:disabled:checked {
        & + .pd-checkbox-inner {
            &:after {
                background-color: setcolor(primary, disabled);
            }
        }
    }

    &:checked {
        & + .pd-checkbox-inner {
            position: relative;
            background-color: setcolor(primary, enabled);
            border-radius: 0.25em;

            .pd-checkbox-checkmark {
                position: absolute;
                display: inline-block;
                transform: rotate(45deg);
                height: 0.75em;
                width: 0.375em;
                top: 0.15em;
                left: 0.45em;
                border-bottom: 0.125em solid $white;
                border-right: 0.125em solid $white;
            }
        }

        &:hover:enabled {
            & + .pd-checkbox-inner {
                background-color: setcolor(primary, hover);

                .pd-checkbox-checkmark {
                    border-bottom: 0.125em solid $white;
                    border-right: 0.125em solid $white;
                }
            }
        }

        &:active:enabled {
            & + .pd-checkbox-inner {
                background-color: setcolor(primary, pressed);
            }
        }

        &:focus:enabled {
            & + .pd-checkbox-inner {
                background-color: $focus;

                .pd-checkbox-checkmark {
                    border-bottom: 0.125em solid $cyan-9;
                    border-right: 0.125em solid $cyan-9;
                }
            }
        }
    }
}

.pd-checkbox-text {
    padding-left: 0.625em;
}
