:host {
    display: block;
}

*,
::before,
::after {
    box-sizing: border-box;
    appearance: none;
    outline: none;
}

// readonly styling
.pd-checkbox-label {
    display: flex;
    align-items: center;
    margin-top: var(--pd-checkbox-vertical-adjust, inherit);

    .pd-checkbox-input {
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;

        & + .pd-checkbox-inner {
            cursor: pointer;
            position: relative;
            width: 1.25rem;
            height: 1.25rem;
            background-color: var(--pd-checkbox-background-color, transparent);
            border-radius: 0.25rem;

            &:before,
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            &:before {
                content: '';
                background-color: transparent;
            }

            &:after {
                content: '';
                border: 0.125rem solid setcolor(primary, enabled);
                border-radius: 0.25rem;
            }

            &.pd-checkbox-checked {
                background-color: setcolor(primary, enabled);
            }

            .pd-checkbox-checkmark {
                position: absolute;
                display: inline-block;
                transform: rotate(45deg);
                height: 0.75rem;
                width: 0.375rem;
                top: 0.15rem;
                left: 0.45rem;
                border-bottom: 0.125rem solid $white;
                border-right: 0.125rem solid $white;
            }

            .pd-checkbox-indeterminate {
                position: absolute;
                display: inline-block;
                transform: rotate(90deg);
                height: 0.75rem;
                width: 0.375rem;
                top: 0.15rem;
                left: 0.45rem;
                border-bottom: none;
                border-right: 0.125rem solid $white;
            }
        }

        &:hover:enabled {
            & + .pd-checkbox-inner {
                &:after {
                    border-color: setcolor(primary, hover);
                }
                &.pd-checkbox-checked {
                    background-color: setcolor(primary, hover);
                }
            }
        }

        &:active:enabled {
            & + .pd-checkbox-inner {
                &:after {
                    border-color: setcolor(primary, pressed);
                }
                &.pd-checkbox-checked {
                    background-color: setcolor(primary, pressed);
                }
            }
        }

        &:focus-visible:enabled {
            & + .pd-checkbox-inner {
                background-color: $focus;
                &:after {
                    border-color: $cyan-9;
                }
                &.pd-checkbox-checked {
                    background-color: $focus;
                    &:after {
                        border-color: $focus;
                    }
                    .pd-checkbox-checkmark,
                    .pd-checkbox-indeterminate {
                        border-color: $cyan-9;
                    }
                }
            }
        }

        &:disabled {
            & + .pd-checkbox-inner {
                cursor: default;
                &:after {
                    border-color: setcolor(primary, disabled);
                }

                &.pd-checkbox-checked {
                    background-color: setcolor(primary, disabled);
                }
            }
        }
    }

    &.pd-checkbox-readonly {
        pointer-events: none;
        cursor: default;

        & > .pd-checkbox-input {
            & + .pd-checkbox-inner {
                background-color: setcolor(primary, readonly);
                &:after {
                    border-color: setcolor(primary, readonly);
                }
                .pd-checkbox-checkmark,
                .pd-checkbox-indeterminate {
                    border-color: $pd-black;
                    border-color: $pd-black;
                }
            }
        }
    }

    &.pd-checkbox-error {
        .pd-checkbox-input {
            & + .pd-checkbox-inner {
                &:after {
                    border-color: setcolor(danger, enabled);
                }
                &.pd-checkbox-checked {
                    background-color: setcolor(danger, enabled);
                    &:after {
                        border-color: setcolor(danger, enabled);
                    }
                    .pd-checkbox-checkmark,
                    .pd-checkbox-indeterminate {
                        border-color: setcolor(danger, enabledContrast);
                    }
                }
            }
            &:hover:enabled {
                & + .pd-checkbox-inner {
                    &:after {
                        border-color: setcolor(danger, hover);
                    }
                    &.pd-checkbox-checked {
                        background-color: setcolor(danger, hover);
                        &:after {
                            border-color: setcolor(danger, hover);
                        }
                        .pd-checkbox-checkmark,
                        .pd-checkbox-indeterminate {
                            border-color: setcolor(danger, hoverContrast);
                        }
                    }
                }
            }

            &:active:enabled {
                & + .pd-checkbox-inner {
                    &:after {
                        border-color: setcolor(danger, pressed);
                    }
                    &.pd-checkbox-checked {
                        background-color: setcolor(danger, pressed);
                        &:after {
                            border-color: setcolor(danger, pressed);
                        }
                        .pd-checkbox-checkmark,
                        .pd-checkbox-indeterminate {
                            border-color: setcolor(danger, pressedContrast);
                        }
                    }
                }
            }

            &:focus-visible:enabled {
                & + .pd-checkbox-inner {
                    background-color: $focus;
                    &:after {
                        border-color: setcolor(danger, enabled);
                    }
                    &.pd-checkbox-checked {
                        background-color: $focus;
                        &:after {
                            border-color: $focus;
                        }
                        .pd-checkbox-checkmark,
                        .pd-checkbox-indeterminate {
                            border-color: $cyan-9;
                        }
                    }
                }
            }
        }
    }

    .pd-checkbox-text {
        padding-left: var(--pd-checkbox-text-padding-left, 0.625rem);
    }
}
