:host {
    display: flex;
}

.pd-tabs-visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.pd-tabs-control {
    .pd-tabs-label {
        .pd-tabs-radio:checked + .pd-tabs-text {
            background-color: $blue-whale;
            color: $white;
        }

        .pd-tabs-radio:focus-visible + .pd-tabs-text {
            background-color: $focus;
            color: $blue-whale;
        }

        .pd-tabs-text {
            display: block;
            cursor: pointer;
            background-color: $bon-jour;
            color: $pd-black;
            padding: 0.5rem 1.5rem;
            line-height: 1.375rem;
            font-size: 1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                background-color: setcolor(primary, hover);
                color: setcolor(primary, hoverContrast);
            }

            &:active {
                background-color: setcolor(primary, enabled);
                color: setcolor(primary, enabledContrast);
            }
        }
    }
}
