@mixin button-scheme($colorscheme) {
    transition: box-shadow 0.15s ease-in-out;
    background-color: setcolor($colorscheme, enabled);
    border: 2px solid setcolor($colorscheme, enabled);
    color: setcolor($colorscheme, enabled-contrast);

    &:hover:enabled {
        background-color: setcolor($colorscheme, hover);
        border: 2px solid setcolor($colorscheme, hover);
        color: setcolor($colorscheme, hover-contrast);
    }

    &:disabled {
        background-color: setcolor($colorscheme, disabled);
        border: 2px solid setcolor($colorscheme, disabled);
        color: setcolor($colorscheme, disabled-contrast);
    }

    &:active:enabled {
        background-color: setcolor($colorscheme, pressed);
        border: 2px solid setcolor($colorscheme, pressed);
        color: setcolor($colorscheme, pressed-contrast);
    }

    &:focus {
        box-shadow: 0 0 0 4px $focus;
    }

    &.pd-button-outline {
        background-color: transparent;
        color: setcolor($colorscheme, enabled);

        &:hover:enabled {
            background-color: transparent;
            color: setcolor($colorscheme, hover);
        }

        &:disabled {
            background-color: transparent;
            color: setcolor($colorscheme, disabled);
        }

        &:active:enabled {
            background-color: transparent;
            color: setcolor($colorscheme, pressed);
        }
    }
}
