@mixin button-scheme($colorscheme) {
    transition: box-shadow 0.15s ease-in-out;
    background-color: setcolor($colorscheme, enabled);
    border: 0.125em solid setcolor($colorscheme, enabled);
    color: setcolor($colorscheme, enabledContrast);

    &:hover:enabled {
        background-color: setcolor($colorscheme, hover);
        border-color: setcolor($colorscheme, hover);
        color: setcolor($colorscheme, hoverContrast);
    }

    &:disabled {
        background-color: setcolor($colorscheme, disabled);
        border-color: setcolor($colorscheme, disabled);
        color: setcolor($colorscheme, disabledContrast);
        font-style: italic;
        * {
            font-weight: 500;
        }
    }

    &:active:enabled {
        background-color: setcolor($colorscheme, pressed);
        border-color: setcolor($colorscheme, pressed);
        color: setcolor($colorscheme, pressedContrast);
    }

    &:focus-visible {
        background-color: $focus;
        border-color: $focus;
        color: $blue-whale;
    }

    &.pd-button-outline {
        background-color: transparent;
        border-color: setcolor($colorscheme, enabledOutline);
        color: setcolor($colorscheme, enabledOutlineContrast);

        &:hover:enabled {
            background-color: transparent;
            border-color: setcolor($colorscheme, hoverOutline);
            color: setcolor($colorscheme, hoverOutlineContrast);
        }

        &:disabled {
            background-color: transparent;
            color: setcolor($colorscheme, disabled);
            border-color: $gray-6;
        }

        &:active:enabled {
            background-color: transparent;
            border-color: setcolor($colorscheme, pressedOutline);
            color: setcolor($colorscheme, pressedOutlineContrast);
        }

        &:focus-visible {
            background-color: $focus;
            border: 0.125em solid $focus;
            color: $blue-whale;
        }
    }
}

@mixin resetControlFonts {
    input,
    textarea,
    a,
    button {
        font: 1rem/1.5rem Avenir;
        letter-spacing: 0.19px;
        margin: 0;
    }

    button,
    [type='button'],
    [type='reset'],
    [type='submit'] {
        appearance: none;
    }
}

@mixin focusRing {
    border-radius: 2px;
    box-shadow: 0 0 1px 3px $yellow-4;
    outline: none;
}

@mixin invisibleButton {
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;

    &:focus-visible {
        @include focusRing;
    }
}
