@import '../../node_modules/bootstrap/scss/_variables.scss';

/** Primary **/

// branding
$black: #1e1e1e !default;
$blue-whale: #033840 !default;
$wild-sand: #f5f5f5 !default;
$yellow-metal: #807641 !default;
$white: #ffffff !default;
$glade-green: #637d5b !default;
$gray: #8c8c8c !default;
$juniper: #68888c !default;

// interaction
$cyan-9: #0b7285;
$cyan-6: #15aabf;
$cyan-3: #66d9e8;

$yellow-4: #ffd43b;
$yellow-2: #ffec99;
$yellow-1: #fff9db;

$gray-9: #212529;
$gray-6: #868e96;
$gray-3: #dee2e6;

// status
$lime-9: #5c940d;
$lime-6: #82c91e;
$lime-3: #c0eb75;

$yellow-9: #e67700;
$yellow-6: #fab005;
$yellow-3: #ffe066;

$red-9: #c92a2a;
$red-6: #fa5252;
$red-3: #ffa8a8;

/** Secondary **/

$pink-9: #a61e4d;
$pink-6: #e64980;
$pink-3: #faa2c1;

$orange-9: #d9480f;
$orange-6: #fd7e14;
$orange-3: #ffc078;

$grape-9: #862e9c;
$grape-6: #be4bdb;
$grape-3: #e599f7;

$violet-9: #5f3dc4;
$violet-6: #7950f2;
$violet-3: #b197fc;

$indigo-9: #364fc7;
$indigo-6: #4c6ef5;
$indigo-3: #91a7ff;

$blue-9: #1864ab;
$blue-6: #228be6;
$blue-3: #74c0fc;

$teal-9: #087f5b;
$teal-6: #12b886;
$teal-3: #63e6be;

$green-9: #2b8a3e;
$green-6: #40c057;
$green-3: #8ce99a;

$colorscheme: (
    primary: (
        base: $cyan-9,
        disabled: $gray-6,
        hover: $cyan-6,
        pressed: $cyan-3,
    ),
    success: (
        base: $lime-9,
        disabled: $gray-6,
        hover: $lime-6,
        pressed: $lime-3,
    ),
    danger: (
        base: $red-9,
        disabled: $gray-6,
        hover: $red-6,
        pressed: $red-3,
    ),
    warning: (
        base: $yellow-9,
        disabled: $gray-6,
        hover: $yellow-6,
        pressed: $yellow-3,
    ),
    info: (
        base: $blue-6,
        disabled: $gray-6,
        hover: $blue-9,
        pressed: $blue-3,
    ),
    light: (
        base: $gray-3,
        disabled: $gray-6,
        hover: $gray-6,
        pressed: $gray-3,
    ),
    dark: (
        base: $gray-9,
        disabled: $gray-6,
        hover: $gray-6,
        pressed: $gray-3,
    ),
);
