/** Primary **/

// branding
$pd-black: #0b0b0b !default;
$blue-whale: #033840 !default;
$wild-sand: #f5f5f5 !default;
$yellow-metal: #807641 !default;
$white: #ffffff !default;
$bon-jour: #e3e0e0 !default;
$athens-gray: #f8f9fa !default;
$glade-green: #637d5b !default;
$gray: #8c8c8c !default;
$juniper: #68888c !default;

// interaction
$cyan-9: #0b7285;
$cyan-6: #15aabf;
$cyan-3: #66d9e8;

$yellow-4: #ffd43b;
$yellow-2: #ffec99;
$yellow-1: #fff3bf;

$gray-9: #212529;
$gray-6: #bababa;
$gray-3: #dee2e6;

// status
$lime-9: #5c940d;
$lime-6: #82c91e;
$lime-3: #c0eb75;

$yellow-9: #df7900;
$yellow-6: #fab005;
$yellow-3: #ffe066;

$red-9: #c92a2a;
$red-6: #fa5252;
$red-3: #ffa8a8;

$blue-4: #4dadf7;
$blue-2: #a3daff;

/** Secondary **/

$pink-9: #a61e4d;
$pink-6: #e64980;
$pink-3: #faa2c1;

$orange-9: #d9480f;
$orange-6: #fd7e14;
$orange-3: #ffc078;

$grape-9: #862e9c;
$grape-6: #be4bdb;
$grape-3: #e599f7;

$violet-9: #5f3dc4;
$violet-6: #7950f2;
$violet-3: #b197fc;

$indigo-9: #364fc7;
$indigo-6: #4c6ef5;
$indigo-3: #91a7ff;

$blue-9: #1864ab;
$blue-6: #228be6;
$blue-3: #74c0fc;

$teal-9: #087f5b;
$teal-6: #12b886;
$teal-3: #63e6be;

$green-9: #2b8a3e;
$green-6: #40c057;
$green-3: #8ce99a;

// shortcuts
$focus: $yellow-2;

// other
$gray-disabled: #cfcfcf;
$gray-readonly: #e5e8eb;
$input-error-border: #b33529;

// bootstrap
$primary: $cyan-9;
$secondary: $athens-gray;
$success: $lime-9;
$danger: $red-9;
$warning: $yellow-9;
$info: $blue-6;
$light: $athens-gray;
$dark: $blue-whale;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
);

$link-color: $primary;
$link-hover-color: darken($link-color, 15%);
$link-decoration: none;
$link-hover-decoration: none;

$colorscheme: (
    primary: (
        enabled: $cyan-9,
        enabledContrast: $white,
        disabled: $gray-disabled,
        disabledContrast: $pd-black,
        hover: $cyan-6,
        hoverContrast: $white,
        pressed: $cyan-3,
        pressedContrast: $blue-whale,
        readonly: $gray-readonly,
        readonlyContrast: $pd-black,
    ),
    success: (
        enabled: $lime-6,
        enabledContrast: $pd-black,
        disabled: $gray-disabled,
        disabledContrast: $pd-black,
        hover: $lime-9,
        hoverContrast: $white,
        pressed: $lime-3,
        pressedContrast: $lime-9,
        readonly: $gray-readonly,
        readonlyContrast: $pd-black,
    ),
    danger: (
        enabled: $red-6,
        enabledContrast: $pd-black,
        disabled: $gray-disabled,
        disabledContrast: $pd-black,
        hover: $red-9,
        hoverContrast: $white,
        pressed: $red-3,
        pressedContrast: $red-9,
        readonly: $gray-readonly,
        readonlyContrast: $pd-black,
    ),
    warning: (
        enabled: $yellow-6,
        enabledContrast: $pd-black,
        disabled: $gray-disabled,
        disabledContrast: $pd-black,
        hover: $yellow-9,
        hoverContrast: $white,
        pressed: $yellow-3,
        pressedContrast: $yellow-9,
        readonly: $gray-readonly,
        readonlyContrast: $pd-black,
    ),
    info: (
        enabled: $blue-4,
        enabledContrast: $pd-black,
        disabled: $gray-disabled,
        disabledContrast: $pd-black,
        hover: $blue-9,
        hoverContrast: $white,
        pressed: $blue-3,
        pressedContrast: $blue-9,
        readonly: $gray-readonly,
        readonlyContrast: $pd-black,
    ),
    light: (
        enabled: $athens-gray,
        enabledContrast: $pd-black,
        disabled: $gray-disabled,
        disabledContrast: $pd-black,
        hover: $gray-3,
        hoverContrast: $pd-black,
        pressed: $gray-3,
        pressedContrast: $pd-black,
        readonly: $gray-readonly,
        readonlyContrast: $pd-black,
    ),
    dark: (
        enabled: #343a40,
        enabledContrast: $white,
        disabled: $gray-disabled,
        disabledContrast: $pd-black,
        hover: $gray-6,
        hoverContrast: $pd-black,
        pressed: $gray-3,
        pressedContrast: $pd-black,
        readonly: $gray-readonly,
        readonlyContrast: $pd-black,
    ),
);

$font-family-base: 'Avenir';
$font-family-sans-serif: 'Avenir';
$font-size-base: 1rem;

$h1-font-size: $font-size-base * 1.25;
$h2-font-size: $font-size-base;
$h3-font-size: $font-size-base;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

$headings-font-family: null;
$headings-font-weight: 700;
$headings-line-height: 1.5;
$headings-color: $blue-whale;

$mark-bg: $yellow-2;

$lead-font-size: $font-size-base;
$lead-font-weight: 700;

$input-btn-line-height: 2;
$paragraph-margin-bottom: 0;

$body-bg: $wild-sand;
$body-color: $pd-black;

$list-group-bg: $wild-sand;
$list-group-border-radius: 0;
// $list-group-item-padding-y:         .75rem !default;
$list-group-item-padding-x: 0;

$breadcrumb-bg: transparent;
$breadcrumb-item-padding: 1rem;
$breadcrumb-border-radius: 0;
$breadcrumb-active-color: $blue-whale;
$breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4LjEyNSIgaGVpZ2h0PSIxMy40MzgiIHZpZXdCb3g9IjAgMCA4LjEyNSAxMy40MzgiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOiNiYWJhYmE7fTwvc3R5bGU+PC9kZWZzPjxwYXRoIGNsYXNzPSJhIiBkPSJNMTQuMjE5LDkuMjgxbC0xLjQzNywxLjQzOEwxOC4wNjMsMTZsLTUuMjgxLDUuMjgxLDEuNDM4LDEuNDM4LDYtNkwyMC45MDYsMTZsLS42ODctLjcxOVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMi43ODEgLTkuMjgxKSIvPjwvc3ZnPg==);
$breadcrumb-divider-color: $gray-6;
