@include resetControlFonts;

:host {
    display: inline-block;
}

*,
::before,
::after {
    box-sizing: border-box;
    appearance: none;
    outline: none;
    line-height: 1;
}

.pd-label {
    display: inline-flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 700;
    background-color: $gray-3;
    border-radius: 0.8rem;
    color: var(--pd-label-text-color, $pd-black);
    padding: 0.25rem 0.5rem;

    .pd-label-dot {
        display: inline-block;
        background-color: green;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 100%;
        margin-right: 0.25rem;
    }
}
