@include resetControlFonts;

:host {
    display: flex;
    background-color: $white;
    border-radius: 0.25em;
    box-shadow: 0px 0px 8px rgba($color: $black, $alpha: 0.45);
    z-index: 90;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

.pd-table-filter-wrapper {
    display: flex;
    padding: 0.5em 0 0.5em 0.75em;
}

.pd-table-filter-clear {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    fill: $cyan-9;
}

.pd-table-filter-confirm {
    width: 4em;
    background-color: $blue-whale;
    fill: $white;
    border: none;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.pd-table-search-input-wrapper {
    display: flex;
    position: relative;
}

.pd-table-search-input {
    flex: 1 1 auto;
    min-width: 0;
    padding: 0.625em 0.875em;
    padding-right: 3em;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border: 0.125em solid setcolor(primary, enabled);
    border-right: none;

    &:focus {
        border: 0.125em solid $focus;
        border-right: none;

        & ~ .pd-table-search-button {
            border: 0.125em solid $focus;
            border-left: none;
        }
    }
}

.pd-table-search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 3em;
    height: 100%;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    background-color: setcolor(primary, enabled);
    border: 0.125em solid setcolor(primary, enabled);
    border-left: none;
    padding: 0;
    cursor: pointer;

    &:hover:active {
        background-color: setcolor(primary, pressed);
    }

    .pd-table-search-button-icon {
        fill: $white;
    }
}
