:host {
    display: block;
    overflow: hidden;
    background-color: $gray-3;
    border-radius: 4px;
    position: relative;
}

@keyframes pd-skeleton-animation {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

.pd-skeleton-animation {
    animation: pd-skeleton-animation 1.2s infinite;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: 1;
    background: linear-gradient(90deg, rgba($white, 0), rgba($white, 0.4), rgba($white, 0));
}
