@include resetControlFonts;

:host {
    display: block;
}

*,
::before,
::after {
    box-sizing: border-box;
    appearance: none;
    outline: none;
}

.pd-input-label {
    width: 100%;
    margin-bottom: 0;
    max-width: 100%;

    .pd-input-label-text {
        font-size: 0.875rem;
        padding-bottom: 0.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/**
 * @prop --pd-input-vertical-adjust: top margin of input
 */
.pd-input {
    display: block;
    padding: 0.625rem 0.875rem;
    border-radius: 0.25rem;
    border: 0.125rem solid setcolor(primary, enabled);
    width: 100%;
    margin-top: var(--pd-input-vertical-adjust, inherit);

    &:hover:enabled {
        border-color: setcolor(primary, hover);
    }

    &:disabled {
        border-color: setcolor(primary, disabled);
        background-color: transparent;
        font-style: italic;
        color: setcolor(primary, disabledContrast);
    }

    &:focus-visible:enabled {
        background: $yellow-1;
    }

    &.pd-input-readonly {
        background-color: $gray-3;
        border-color: $gray-3;

        &:hover:enabled,
        &:disabled,
        &:focus-visible:enabled {
            border-color: $gray-3;
            cursor: default;
            background-color: $gray-3;
        }
    }

    &.pd-input-error {
        border-color: $input-error-border;
        background: $red-3;

        &:hover:enabled {
            border-color: setcolor(danger, hover);
        }
    }

    &.pd-input-character-count-error {
        animation: pd-input-charcount-error-animation 1s;
    }
}

.pd-input-label-viewonly {
    font-weight: 700;
}

.pd-input-viewonly {
    display: block;
    margin: 0;
    padding: 0.125rem 0 0.75rem 0;
}

.pd-input-character-count {
    text-align: right;
    font-size: 0.75rem;
    color: $gray-9;
    margin-top: 0.15rem;
    margin-right: 0.15rem;
    transition: color 0.2s;
}

.pd-input-character-count.flash-red {
    animation: pd-input-charcount-flash-red 1s;
}

@keyframes pd-input-charcount-flash-red {
    0% {
        color: $gray-9;
    }
    20% {
        color: $input-error-border;
    }
    60% {
        color: $input-error-border;
    }
    100% {
        color: $gray-9;
    }
}

@keyframes pd-input-charcount-error-animation {
    0% {
        background: transparent;
    }
    20% {
        border-color: $input-error-border;
        background: $red-3;
    }
    60% {
        border-color: $input-error-border;
        background: $red-3;
    }
    100% {
        border-color: setcolor(primary, enabled);
        background: transparent;
    }
}
