apiVersion: v1
kind: Secret
metadata:
  name: registry-secret
  namespace: parlamentsdienste-components
  labels:
    project: parlamentsdienste-components
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: '{{ op://infra-lambda/woksdjbhmn4ukusc2zyouartse/.dockerconfigjson }}'
