@include resetControlFonts;

:host {
    display: block;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

.pd-alert {
    border-radius: 0.25rem;
    border-width: 0.25rem;
    border-style: solid;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;

    &.pd-alert-has-status {
        grid-template-columns: auto 1fr auto;
    }

    &.pd-alert-primary {
        background-color: setcolor(primary, enabled);
        border-color: setcolor(primary, enabled);
        color: setcolor(primary, enabledContrast);
        fill: setcolor(primary, enabledContrast);
        .pd-alert-action-text {
            color: setcolor(primary, enabledContrast);
        }
        .pd-alert-action-cancel {
            &:hover {
                fill: setcolor(primary, hover);
            }
            &:active {
                fill: setcolor(primary, pressed);
            }
        }
    }

    &.pd-alert-danger {
        background-color: setcolor(danger, enabled);
        border-color: setcolor(danger, enabled);
        color: setcolor(danger, enabledContrast);
        fill: setcolor(danger, enabledContrast);
        .pd-alert-action-text {
            color: setcolor(danger, enabledContrast);
        }
        .pd-alert-action-cancel {
            &:hover {
                fill: setcolor(danger, hover);
            }
            &:active {
                fill: setcolor(danger, pressed);
            }
        }
    }

    &.pd-alert-warning {
        background-color: setcolor(warning, enabled);
        border-color: setcolor(warning, enabled);
        color: setcolor(warning, enabledContrast);
        fill: setcolor(warning, enabledContrast);
        .pd-alert-action-text {
            color: setcolor(warning, enabledContrast);
        }
        .pd-alert-action-cancel {
            &:hover {
                fill: setcolor(warning, hover);
            }
            &:active {
                fill: setcolor(warning, pressed);
            }
        }
    }

    &.pd-alert-info {
        background-color: setcolor(info, enabled);
        border-color: setcolor(info, enabled);
        color: setcolor(info, enabledContrast);
        fill: setcolor(info, enabledContrast);
        .pd-alert-action-text {
            color: setcolor(info, enabledContrast);
        }
        .pd-alert-action-cancel {
            &:hover {
                fill: setcolor(info, hover);
            }
            &:active {
                fill: setcolor(info, pressed);
            }
        }
    }

    &.pd-alert-success {
        background-color: setcolor(success, enabled);
        border-color: setcolor(success, enabled);
        color: setcolor(success, enabledContrast);
        fill: setcolor(success, enabledContrast);
        .pd-alert-action-text {
            color: setcolor(success, enabledContrast);
        }
        .pd-alert-action-cancel {
            &:hover {
                fill: setcolor(success, hover);
            }
            &:active {
                fill: setcolor(success, pressed);
            }
        }
    }

    &.pd-alert-dark {
        background-color: setcolor(dark, enabled);
        border-color: setcolor(dark, enabled);
        color: setcolor(dark, enabledContrast);
        fill: setcolor(dark, enabledContrast);
        .pd-alert-action-text {
            color: setcolor(dark, enabledContrast);
        }
        .pd-alert-action-cancel {
            &:hover {
                fill: setcolor(dark, hover);
            }
            &:active {
                fill: setcolor(dark, pressed);
            }
        }
    }

    &.pd-alert-light {
        background-color: setcolor(light, enabled);
        border-color: setcolor(light, enabled);
        color: $pd-black;
        fill: setcolor(light, enabledContrast);
        .pd-alert-action-text {
            color: setcolor(light, enabledContrast);
        }
        .pd-alert-action-cancel {
            &:hover {
                fill: setcolor(light, hover);
            }
            &:active {
                fill: setcolor(light, pressed);
            }
        }
    }
}

.pd-alert-text {
    padding: 0.625rem 1rem;
}

.pd-alert-icon {
    margin: -0.5rem -0.5rem -0.5rem 0.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    grid-row: 1 / 3;
}

.pd-alert-action {
    margin: 0 0.5rem 0 0;
    display: flex;
    align-items: center;

    .pd-alert-action-text {
        margin-left: 0.625rem;
        padding: 0.0625rem 0.375rem;
        white-space: nowrap;
        cursor: pointer;
        font-weight: 700 !important;
        background-color: transparent;
        border: none;
        text-decoration: underline;

        &:focus-visible {
            @include focus;
        }
    }

    .pd-alert-close-button {
        @include invisibleButton;
        margin-left: 0.625rem;

        &:focus-visible .pd-alert-action-cancel {
            @include focus;
        }
    }

    .pd-alert-action-cancel {
        cursor: pointer;

        &:hover {
            fill: $bon-jour;
        }
    }
}

.pd-alert-has-status .pd-alert-expandable-content-wrapper {
    grid-column: 1 / span 3;
}

/**
 * @prop --pd-alert-expandable-background-color: background color of expanded content
 * @prop --pd-alert-expandable-color: text color of expanded content
 */
.pd-alert-expandable-content-wrapper {
    background-color: var(--pd-alert-expandable-background-color, $white);
    color: var(--pd-alert-expandable-color, $black);
    grid-column: 1 / span 2;
    font-weight: 400;
    transition: height 0.3s ease-in-out;
    height: auto;

    .pd-alert-expandable-content {
        padding: 1rem;
    }
}
