@include resetControlFonts;

:host {
    display: block;
}

*,
::before,
::after {
    box-sizing: border-box;
    appearance: none;
    outline: none;
}

.pd-datepicker-label {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-top: var(--pd-datepicker-vertical-adjust, inherit);

    &.pd-datepicker-disabled {
        pointer-events: none;
        .pd-datepicker-icon {
            fill: setcolor(primary, disabled);
        }
    }

    &.pd-datepicker-readonly {
        pointer-events: none;
        .pd-datepicker-icon {
            fill: setcolor(primary, readonlyContrast);
        }
    }

    &.pd-datepicker-error {
        .pd-datepicker-icon {
            fill: setcolor(danger, enabledContrast);
        }
    }

    .pd-datepicker-label-text {
        font-size: 0.875rem;
        padding-bottom: 0.25rem;
    }
}

.wrapper {
    display: flex;
    position: relative;
}

.pd-datepicker-input {
    flex: 1 1 auto;

    &:hover {
        + .pd-datepicker-icon {
            fill: setcolor(primary, hover);
        }
    }

    &.pd-datepicker-error:hover {
        + .pd-datepicker-icon {
            fill: setcolor(danger, hover);
        }
    }
}

.pd-datepicker-input[readonly] {
    + .pd-datepicker-icon {
        fill: setcolor(primary, enabledContrast);
    }

    &:hover {
        + .pd-datepicker-icon {
            fill: setcolor(primary, hoverContrast);
        }
    }

    &:active {
        + .pd-datepicker-icon {
            fill: setcolor(primary, pressedContrast);
        }
    }
}

.pd-datepicker-input[readonly].pd-datepicker-disabled {
    + .pd-datepicker-icon {
        fill: setcolor(primary, disabledContrast);
    }
}

.pd-datepicker-input[readonly].pd-datepicker-readonly {
    + .pd-datepicker-icon {
        fill: setcolor(primary, readonlyContrast);
    }
}

.pd-datepicker-input[readonly].pd-datepicker-error {
    + .pd-datepicker-icon {
        fill: setcolor(danger, enabledContrast);
    }

    &:hover {
        + .pd-datepicker-icon {
            fill: setcolor(danger, hoverContrast);
        }
    }

    &:active {
        + .pd-datepicker-icon {
            fill: setcolor(danger, pressedContrast);
        }
    }
}

.pd-datepicker-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0.25rem;
    height: calc(100% - 0.25rem);
    top: 1px; // misaligned icon
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 4em;
    fill: setcolor(primary, enabled);
    pointer-events: none;
}

.pd-datepicker-input {
    display: block;
    padding: 0.625rem 0.875rem;
    border-radius: 0.25rem;
    border: 0.125rem solid setcolor(primary, enabled);
    width: 100%;
    margin-top: var(--pd-input-vertical-adjust, inherit);

    &:hover:enabled {
        border-color: setcolor(primary, hover);
    }

    &:disabled {
        border-color: setcolor(primary, disabled);
        background-color: transparent;
        font-style: italic;
        color: setcolor(primary, disabledContrast);
    }

    &:focus-visible:enabled {
        background: $yellow-1;
    }

    &.pd-datepicker-readonly {
        background-color: $gray-3;
        border-color: $gray-3;

        &:hover:enabled,
        &:disabled,
        &:focus-visible:enabled {
            border-color: $gray-3;
            cursor: default;
        }
    }

    &.pd-datepicker-error {
        border-color: $input-error-border;
        background: $red-3;

        &:hover:enabled {
            border-color: setcolor(danger, hover);
        }
    }
}

// enabled (disabled input)
.pd-datepicker-input[readonly]:not(.pd-datepicker-disabled):not(.pd-datepicker-readonly) {
    background-color: setcolor(primary, enabled);
    border-color: setcolor(primary, enabled);
    color: setcolor(primary, enabledContrast);
    font-weight: 700;
    cursor: pointer;

    &:hover:enabled {
        background-color: setcolor(primary, hover);
        border-color: setcolor(primary, hover);
        color: setcolor(primary, hoverContrast);
        & + .pd-datepicker-icon {
            fill: setcolor(primary, hoverContrast);
        }
    }

    &:active:enabled {
        background-color: setcolor(primary, pressed);
        border-color: setcolor(primary, pressed);
        color: setcolor(primary, pressedContrast);
        & + .pd-datepicker-icon {
            fill: setcolor(primary, pressedContrast);
        }
    }

    &:focus-visible {
        background-color: $focus;
        border-color: $focus;
        color: $blue-whale;
        & + .pd-datepicker-icon {
            fill: $blue-whale;
        }
    }
}

// disabled (disabled input)
.pd-datepicker-input[readonly].pd-datepicker-disabled:not(.pd-datepicker-readonly) {
    background-color: setcolor(primary, disabled);
    border-color: setcolor(primary, disabled);
    color: setcolor(primary, disabledContrast);
    cursor: pointer;
}

// error (disabled input)
.pd-datepicker-input[readonly]:not(.pd-datepicker-disabled):not(.pd-datepicker-readonly).pd-datepicker-error {
    background-color: setcolor(danger, enabled);
    border-color: setcolor(danger, enabled);
    color: setcolor(danger, enabledContrast);
    font-weight: 700;
    cursor: pointer;

    &:hover:enabled {
        background-color: setcolor(danger, hover);
        border-color: setcolor(danger, hover);
        color: setcolor(danger, hoverContrast);
        & + .pd-datepicker-icon {
            fill: setcolor(danger, hoverContrast);
        }
    }

    &:active:enabled {
        background-color: setcolor(danger, pressed);
        border-color: setcolor(danger, pressed);
        color: setcolor(danger, pressedContrast);
        & + .pd-datepicker-icon {
            fill: setcolor(danger, pressedContrast);
        }
    }

    &:focus-visible {
        background-color: $focus;
        border-color: $focus;
        color: $blue-whale;
        & + .pd-datepicker-icon {
            fill: $blue-whale;
        }
    }
}
