
:host {
    box-sizing: border-box;
    display: block;
    background-color: $white;
    border-radius: 4px;
    min-width: $min-component-width;
}

.pd-card-content-wrapper {
    transition: max-height 0.4s ease-in-out;
    height: auto;
    overflow: hidden;

    &.pd-card-content-collapsed {
        max-height: 0 !important;
    }
}
