:host {
    display: block;
    flex: 1;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.pd-table {
    display: flex;

    .pd-table-horizontal-scroll {
        overflow: auto;

        .pd-table-row,
        .pd-table-header-row {
            overflow: visible;
        }
    }
}

.pd-table-header-row {
    display: flex;
    flex-direction: row;
    height: 3em;
    color: $white;
    overflow: hidden;

    .pd-table-header-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.625em;

        &.pd-table-sortable {
            user-select: none;
            cursor: pointer;
        }

        span {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &.pd-table-dark {
            background-color: $blue-whale;
            border-bottom: 0.125em solid $blue-whale;
            border-top: 0.125em solid $blue-whale;
            fill: $white;

            &.pd-table-sortable {
                &:hover {
                    background-color: $cyan-9;
                }

                &:active {
                    background-color: $cyan-6;
                }
            }
        }

        &.pd-table-light {
            border-bottom: 0.125em solid $blue-whale;
            border-top: 0.125em solid $blue-whale;
            color: $black;

            &.pd-table-sortable {
                &:hover {
                    background-color: $gray-3;
                }

                &:active {
                    background-color: $cyan-6;
                }
            }
        }

        &.pd-table-gray {
            background-color: $gray-3;
            border-bottom: 0.125em solid $gray-3;
            border-top: 0.125em solid $gray-3;
            color: $black;

            &.pd-table-sortable {
                &:hover {
                    background-color: $bon-jour;
                }

                &:active {
                    background-color: $cyan-6;
                }
            }
        }
    }
}

.pd-table-body {
    .pd-table-row {
        display: flex;
        flex-direction: row;
        height: 3em;
        overflow: hidden;

        &:last-child {
            .pd-table-cell {
                border-bottom: none;
            }
        }
    }
}

.pd-table-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.625em;
    border-bottom: 0.125em solid $gray-3;

    span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.pd-table-cell-bold {
    font-weight: 700;
}

.pd-table-filter-clear {
    display: flex;
    fill: $white;
    background-color: $blue-whale;
    border-radius: 0.25em;
    cursor: pointer;

    .pd-table-filter-clear-button {
        color: $white;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.pd-table-filter-hidden {
    display: none;
}
