@include resetControlFonts;

:host {
    display: block;
}

*,
::before,
::after {
    box-sizing: border-box;
    appearance: none;
    outline: none;
}

.pd-input-label {
    width: 100%;
    margin-bottom: 0;
    max-width: 100%;

    .pd-input-label-text {
        font-size: 0.875rem;
        padding-bottom: 0.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/**
 * @prop --pd-input-vertical-adjust: top margin of input
 */
.pd-input {
    display: block;
    padding: 0.625rem 0.875rem;
    border-radius: 0.25rem;
    border: 0.125rem solid setcolor(primary, enabled);
    width: 100%;
    margin-top: var(--pd-input-vertical-adjust, inherit);

    &:hover:enabled {
        border-color: setcolor(primary, hover);
    }

    &:disabled {
        border-color: setcolor(primary, disabled);
        background-color: transparent;
        font-style: italic;
        color: setcolor(primary, disabledContrast);
    }

    &:focus-visible:enabled {
        background: $yellow-1;
    }

    &.pd-input-readonly {
        background-color: $gray-3;
        border-color: $gray-3;

        &:hover:enabled,
        &:disabled,
        &:focus-visible:enabled {
            border-color: $gray-3;
            cursor: default;
        }
    }

    &.pd-input-error {
        border-color: $input-error-border;
        background: $red-3;

        &:hover:enabled {
            border-color: setcolor(danger, hover);
        }
    }
}

.pd-input-viewonly {
    display: block;
    margin: 0;
    padding: 0.75rem 1rem;
}
