@include resetControlFonts;

:host {
    display: block;
}

*,
::before,
::after {
    box-sizing: border-box;
    appearance: none;
    outline: none;
}

:host(.pd-input-error) {
    .pd-input {
        border: 0.125em solid setcolor(danger, enabled);

        &:hover:enabled {
            border: 0.125em solid setcolor(danger, hover);
        }
    }

    .pd-input-helper-text {
        color: setcolor(danger, enabled);
    }
}

/* this block is required because we don't need a grey
   input for the flatpickr, the datepicker itself has
   no direct access to this part of the input component
 */
.pd-input {
    &.pd-input-readonly:not(.flatpickr-input) {
        background-color: $gray-3;
        border: 0.125em solid $gray-3;
        &:hover:enabled,
        &:disabled,
        &:focus:enabled {
            border: 0.125em solid $gray-3;
            cursor: default;
        }
    }
}

.pd-input-label {
    width: 100%;
    margin-bottom: 0;
    font-size: 0.875em;
}

.pd-input {
    display: block;
    padding: 0.625em 0.875em;
    border-radius: 0.25em;
    border: 0.125em solid setcolor(primary, enabled);
    width: 100%;
    margin-top: var(--pd-input-vertical-adjust, inherit);

    &:hover:enabled {
        border: 0.125em solid setcolor(primary, hover);
    }

    &:disabled {
        border: 0.125em solid setcolor(primary, disabled);
        background-color: transparent;
        color: $gray;
    }

    &:focus:enabled {
        border: 0.125em solid $focus;
    }
}

.pd-input-label-text {
    padding-bottom: 0.25em;
}

.pd-input-helper-text {
    margin-left: 0.875em;
    margin-top: 0.25em;
    font-size: 0.875em;
    line-height: 1.25em;
}
