@include resetControlFonts;

:host {
    display: inline-block;
    border: none; // fixes border issue in firefox
}

*,
::before,
::after {
    font-weight: 700;
    line-height: $input-btn-line-height;
    box-sizing: border-box;
}

.pd-button-outline {
    * {
        font-weight: 500;
    }
}

.pd-link {
    display: flex;
    align-items: center;
    * {
        font-weight: 500;
    }
}

.pd-button {
    @include button-scheme(primary);
    display: flex;
    align-items: center;
    border-top-left-radius: var(--pd-button-left-radius, 0.25em);
    border-bottom-left-radius: var(--pd-button-left-radius, 0.25em);
    border-top-right-radius: var(--pd-button-right-radius, 0.25em);
    border-bottom-right-radius: var(--pd-button-right-radius, 0.25em);
    padding: 0.25em 0.625em;
    position: relative;
    cursor: pointer;

    &.pd-button-large {
        padding: 0.625em 1.25em;
    }

    &.pd-button-small {
        padding: 0.125em 0.5em;
    }

    &.pd-button-success {
        @include button-scheme(success);
    }

    &.pd-button-danger {
        @include button-scheme(danger);
    }

    &.pd-button-warning {
        @include button-scheme(warning);
    }

    &.pd-button-info {
        @include button-scheme(info);
    }

    &.pd-button-light {
        @include button-scheme(light);
    }

    &.pd-button-dark {
        @include button-scheme(dark);
    }
}

.pd-link {
    color: $cyan-9;
    text-decoration: none;
}

.pd-button-icon-left,
.pd-button-icon-right {
    display: flex;
    align-items: center;
}

.pd-button-icon-left {
    margin-right: 0.375em;
}

.pd-button-icon-right {
    margin-left: 0.375em;
}
