@include resetControlFonts;

:host {
    display: inline-block;
    border: none; // fixes border issue in firefox
    outline: none;
    vertical-align: bottom;
}

:host(.pd-button-fullwidth) {
    display: flex;
    .pd-button {
        width: 100%;
        justify-content: center;
    }
}

*,
::before,
::after {
    font-weight: 700;
    line-height: $input-btn-line-height;
    box-sizing: border-box;
    appearance: none;
    outline: none;
}

.pd-button-outline {
    * {
        font-weight: 500;
    }
}

.pd-button {
    @include button-scheme(primary);
    display: flex;
    align-items: center;
    border-top-left-radius: var(--pd-button-left-radius, 0.25rem);
    border-bottom-left-radius: var(--pd-button-left-radius, 0.25rem);
    border-top-right-radius: var(--pd-button-right-radius, 0.25rem);
    border-bottom-right-radius: var(--pd-button-right-radius, 0.25rem);
    padding: var(--pd-button-padding-vertical, 0.25rem) var(--pd-button-padding-horizontal, 0.625rem);
    position: relative;
    cursor: pointer;

    height: 38px;

    &.pd-button-large {
        padding: 0.625rem 1.25rem;
        height: 48px;
    }

    &.pd-button-small {
        padding: 0.125rem 0.5rem;
        height: 32px;
    }

    &.pd-button-success {
        @include button-scheme(success);
    }

    &.pd-button-danger {
        @include button-scheme(danger);
    }

    &.pd-button-warning {
        @include button-scheme(warning);
    }

    &.pd-button-info {
        @include button-scheme(info);
    }

    &.pd-button-light {
        @include button-scheme(light);
    }

    &.pd-button-dark {
        @include button-scheme(dark);
    }

    &:disabled {
        cursor: default;
    }
}

.pd-link {
    display: flex;
    align-items: center;
    color: $cyan-9;
    text-decoration: none;

    * {
        font-weight: 500;
    }

    &:hover {
        color: $cyan-6;
    }

    &:focus-visible {
        @include focus;
    }

    &:active {
        color: $cyan-3;
    }
}

.pd-button-icon-left,
.pd-button-icon-right {
    display: flex;
    align-items: center;
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
}

.pd-button-icon-left {
    margin-right: 0.375rem;
}

.pd-button-icon-right {
    margin-left: 0.375rem;
}
