<div class="wrapper">
    <pd-alert>asdf</pd-alert>
    <pd-input [ngModel]="myVar" (ngModelChange)="modelChange($event)" (pd-change)="($event)"></pd-input>
    <hr />
    <pd-checkbox></pd-checkbox>
    <hr />
    <!-- <pd-combobox [items]="comboboxItems"></pd-combobox> -->
    <pd-combobox
        placeholder="search..."
        class="pd-combobox-items"
        [label]="label()"
        id="pd-combobox-2"
        [items]="comboboxItems"
        multiselect>
    </pd-combobox>
    item: <pd-dropdown-item value="test"></pd-dropdown-item>
    <pd-input [label]="'hey'" [(ngModel)]="myVar"></pd-input>
    <!-- <button (click)="asdf()">sdfgdfg</button> -->
    <hr />
    <pd-button (click)="buttonClick()">this is a button</pd-button>
    <hr />
    <pd-input></pd-input>
    <hr />
    <hr />
    <div style="border: 1px solid gray; padding: 2rem">
        <pd-icon [size]="'1'" [name]="'press'"></pd-icon>
        <pd-icon size="2" name="press"></pd-icon>
        <pd-icon size="3" name="press"></pd-icon>
    </div>
    <hr />
    <app-value-accessor [(ngModel)]="forValueAccessorComp"></app-value-accessor>
</div>
