:host {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.pd-modal-wrapper {
    min-width: 100px;
    max-width: 100px;
    background-color: #fff;
    z-index: 10;
    padding: 10px;
}
