:host {
    background-color: #000000;
    display: block;
    cursor: pointer;
    opacity: 0.2;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

:host(.pd-backdrop-hide) {
    background: transparent;
}

*,
::before,
::after {
    box-sizing: border-box;
}
