@include resetControlFonts;

:host {
    display: block;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.pd-sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 5em;
    color: $blue-whale;
    border: none;
    overflow: hidden;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;

    pd-icon {
        fill: $blue-whale;
    }

    & * {
        font-size: 0.55rem;
        line-height: 0.75rem;
        font-weight: 700;
    }

    &:hover {
        background-color: $cyan-6;
        color: $white;
        pd-icon {
            fill: $white;
        }
    }

    &:focus {
        background-color: $yellow-1;

        &:hover {
            color: $blue-whale;

            pd-icon {
                fill: $blue-whale;
            }
        }
    }

    &:active {
        background-color: $cyan-3;
        color: $blue-whale;
    }

    &.pd-sidebar-active {
        background-color: $wild-sand;
        cursor: default;

        &:hover {
            background-color: $cyan-6;
            color: $blue-whale;
        }
    }
}

.pd-sidebar-text {
    text-align: center;
    padding: 0 0.375em;
}

.pd-sidebar-icon {
    padding: 0.375em;
    font-weight: normal;
    font-size: 1em;
}
