/**
 * @prop --pd-panel-content-padding: Horizontal and vertical padding of panel content box
 */
pd-panel-content {
    display: block;
    position: relative;
    padding: var(--pd-panel-content-padding, 1rem);
    overflow-x: auto;
}
