:host {
    background-color: $bon-jour;
    display: flex;
    flex-direction: column;
    width: 5em;
    height: 100%;
    align-items: center;
}

*,
::before,
::after {
    box-sizing: border-box;
}
