:host {
    display: flex;
    align-items: center;
    background-color: $blue-whale;
    color: white;
    padding: 0 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    min-height: 48px;
    font-weight: 700;
}

.pd-card-header {
    width: 100%;
}
