@include reset;

:host {
    display: block;
}

label {
    display: flex;
    align-items: center;
}

label > input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;

    &:checked {
        & + .pd-checkbox-inner {
            &:after {
                background-color: setcolor(primary, enabled);
                background-size: 20px 20px;
                background-position-x: -2px;
                background-position-y: -2px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M6.343 11.293l3.89 3.889 7.424-7.425' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/svg%3E");
            }

            &:hover:enabled {
                &:after {
                    background-color: setcolor(primary, hover);
                }
            }

            &:active:enabled {
                &:after {
                    background-color: setcolor(primary, pressed);
                }
            }
        }

        &:focus {
            & + .pd-checkbox-inner {
                &:after {
                    border: 2px solid $yellow-4;
                    background-color: $yellow-4;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M6.343 11.293l3.89 3.889 7.424-7.425' fill='none' stroke='%23033840' stroke-width='3'/%3E%3C/svg%3E");
                }
            }
        }
    }

    &:focus {
        & + .pd-checkbox-inner {
            &:after {
                border: 2px solid $yellow-4;
            }
        }
    }

    &:disabled {
        & + .pd-checkbox-inner {
            &:after {
                border: 2px solid setcolor(primary, disabled);
            }
        }
    }

    &:disabled:checked {
        & + .pd-checkbox-inner {
            &:after {
                background-color: setcolor(primary, disabled);
            }
        }
    }

    & + .pd-checkbox-inner {
        position: relative;
        width: 20px;
        height: 20px;

        &:before,
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &:before {
            content: '';
            background-color: transparent;
        }

        &:after {
            content: '';
            border: 2px solid setcolor(primary, enabled);
            border-radius: 4px;
        }

        &:hover:enabled {
            &:after {
                border: 2px solid setcolor(primary, hover);
            }
        }

        &:active:enabled {
            &:after {
                border: 2px solid setcolor(primary, pressed);
            }
        }
    }
}

.pd-checkbox-text {
    padding-left: 10px;
}
