:host {
    display: flex;
    position: relative;
}

:host(.pd-search-error) {
    input {
        border: 2px solid setcolor(danger, enabled);
    }

    .pd-search-helper {
        color: setcolor(danger, enabled);
    }
}

label {
    position: relative;
    flex: 1;
    display: flex;
    min-width: $min-component-width;

    &:hover {
        .pd-search-button {
            background-color: setcolor(primary, hover);
        }
    }

    &.disabled {
        input {
            border: 2px solid setcolor(primary, disabled);
            border-right: none;
        }

        .pd-search-button {
            border: 2px solid setcolor(primary, disabled);
            background-color: setcolor(primary, disabled);
        }
    }

    &:focus {
        input {
            border: 2px solid $focus;
        }
    }
}

input {
    flex: 1 1 auto;
    min-width: 0;
    padding: 11px 14px;
    padding-right: 60px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 2px solid setcolor(primary, enabled);
    border-right: none;

    &:focus {
        border: 2px solid $focus;
        border-right: none;

        & ~ .pd-search-button {
            border: 2px solid $focus;
            border-left: none;
        }
    }
}

.pd-search-button {
    display: flex;
    justify-content: center;
    flex: 0 0 48px;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: setcolor(primary, enabled);
    border: 2px solid setcolor(primary, enabled);
    border-left: none;
    cursor: pointer;

    &:hover:active {
        background-color: setcolor(primary, pressed);
    }
}

.pd-search-clear {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 64px;
    top: 1px;
    height: 48px;
    width: 26px;

    .pd-search-clear-icon {
        width: 26px;
        height: 26px;
        cursor: pointer;
    }
}

.pd-search-label-text {
    padding-bottom: 5px;
}

.pd-search-dropdown {
    position: absolute;
    background-color: $white;
    z-index: 100;
    top: 50px;
    width: 100%;
    border: 2px solid setcolor(primary, enabled);
    border-radius: 4px;
    overflow-y: auto;
    max-height: calc(48px * 8 + 4px);
}
