@include reset;

:host {
    display: flex;
    position: relative;
}

:host(.error) {
    input {
        border: 2px solid setcolor(danger, base);
    }

    .helper {
        color: setcolor(danger, base);
    }
}

label {
    position: relative;
    flex: 1;
    display: flex;

    &:hover {
        .search {
            background-color: setcolor(primary, hover);
        }
    }

    &.disabled {
        input {
            border: 2px solid setcolor(primary, disabled);
            border-right: none;
        }

        .search {
            border: 2px solid setcolor(primary, disabled);
            background-color: setcolor(primary, disabled);
        }
    }

    &:focus {
        input {
            border: 2px solid $yellow-4;
        }
    }
}

input {
    flex: 1;
    padding: 11px 14px;
    padding-right: 60px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 2px solid setcolor(primary, base);
    border-right: none;
    width: 100%;

    &:focus {
        border: 2px solid $yellow-4;
        border-right: none;

        & ~ .search {
            border: 2px solid $yellow-4;
            border-left: none;
        }
    }
}

.search {
    width: 48px;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: setcolor(primary, base);
    border: 2px solid setcolor(primary, base);
    border-left: none;

    &:hover:active {
        background-color: setcolor(primary, pressed);
    }
}

.clear {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 64px;
    top: 1px;
    height: 48px;
    width: 26px;

    .clear-icon {
        border-radius: 100%;
        border: 2px solid $gray;
        width: 26px;
        height: 26px;
    }
}

.label-text {
    padding-bottom: 5px;
}

.dropdown {
    position: absolute;
    background-color: $white;
    z-index: 100;
    top: 50px;
    width: 100%;
    border: 2px solid setcolor(primary, base);
    border-radius: 4px;
}

.dropdown-item {
    width: 100%;
    padding: 11px 14px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: setcolor(primary, base);
        color: $white;
    }

    &:active {
        background-color: setcolor(primary, pressed);
        color: $black;
    }
}
