@include resetControlFonts;

:host {
    display: flex;
    position: relative;
}

*,
::before,
::after {
    box-sizing: border-box;
    appearance: none;
    outline: none;
}

.pd-combobox-label {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    &.pd-combobox-disabled {
        .pd-combobox-input {
            border: 0.125em solid setcolor(primary, disabled);
            background-color: $white;
        }

        .pd-combobox-icon .pd-icon {
            fill: setcolor(primary, disabled);
        }
    }

    &:focus {
        .pd-combobox-input {
            border: 0.125em solid $focus;
        }
    }
}

.pd-combobox-input-wrapper {
    display: flex;
    position: relative;
}

.pd-combobox-input {
    flex: 1 1 auto;
    min-width: 8em;
    padding: 0.625em 0.875em;
    padding-right: 3em;
    padding-left: 3em;
    border-radius: 0.25em;
    border: 0.125em solid setcolor(primary, enabled);

    &:focus {
        border: 0.125em solid $focus;
    }
}

.pd-combobox-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 0.125em);
    top: 1px; // misaligned icon
    border: none;
    padding: 0;
    background-color: transparent;

    &.left {
        left: 0.65em;
    }

    &.right {
        right: 0.65em;
    }

    .pd-icon {
        cursor: pointer;
        font-size: 4em;

        &.pd-combobox-icon-search {
            fill: setcolor(primary, enabled);
        }

        &:hover {
            fill: setcolor(primary, hover);
        }

        &:active {
            fill: setcolor(primary, pressed);
        }
    }
}

.pd-combobox-label-text {
    padding-bottom: 0.25em;
}

.pd-combobox-dropdown {
    //position: absolute;
    background-color: $white;
    z-index: 100;
    //top: 3em;
    width: 100%;
    border: 0.125em solid setcolor(primary, enabled);
    border-radius: 0.25em;
    overflow-y: auto;
    max-height: calc(3em * 5 + 0.25em);
}
