/**
 * @prop --pd-panel-background: Background color of panel
 * @prop --pd-panel-margin-bottom: bottom margin of panel. Can be used to separate subpanels
 */
:host {
    display: block;
    background-color: var(--pd-panel-background, $white);
    margin-bottom: var(--pd-panel-margin-bottom, 0);
    border-radius: 0.25rem;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

.pd-panel-content-wrapper {
    display: grid;
    transition: grid-template-rows 0.3s ease-in-out;

    > div {
        overflow: hidden;
    }

    &.pd-panel-content-expanded {
        grid-template-rows: 1fr;
    }

    &.pd-panel-content-collapsed {
        grid-template-rows: 0fr;
    }
}

/** Subpanel **/

:host(.pd-panel-subpanel) {
    border-top: 0.125rem solid $gray-6;
    border-bottom: 0.125rem solid $gray-6;
    border-radius: 0;
    --pd-panel-content-padding: 0.5rem 0 1rem 0;
}

:host(.pd-panel-subpanel.pd-panel-hover) {
    border-top: 0.125rem solid $black;
    border-bottom: 0.125rem solid $black;
}
