:host {
    display: block;
    background-color: $white;
    border-radius: 0.25em;
    min-width: $min-component-width;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.pd-panel-content-wrapper {
    transition: height 0.3s ease-in-out;
    height: auto;
}
