@include resetControlFonts;

$progress-height: 1rem;

:host {
    display: flex;
    position: relative;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

.pd-progress-bar-background {
    display: flex;
    height: $progress-height;
    overflow: hidden;
    font-size: 0.75em;
    line-height: $progress-height;
    background-color: $gray-3;
    border-radius: 0.25em;
    width: 100%;
}

.pd-progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    height: $progress-height;
    background-color: setcolor(primary, enabled);
    transform-origin: left top;
    transition: width 200ms ease;
    color: setcolor(primary, enabledContrast);

    &.pd-progress-bar-success {
        background-color: setcolor(success, hover);
        color: setcolor(success, hoverContrast);
    }

    &.pd-progress-bar-warning {
        background-color: setcolor(warning, hover);
        color: setcolor(warning, hoverContrast);
    }

    &.pd-progress-bar-danger {
        background-color: setcolor(danger, hover);
        color: setcolor(danger, hoverContrast);
    }

    &.pd-progress-bar-info {
        background-color: setcolor(info, hover);
        color: setcolor(info, hoverContrast);
    }
}

.pd-progress-bar-striped {
    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
    );
    background-size: 1rem 1rem;
}
