@include resetControlFonts;

:host {
    display: block;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

:host(.currentNavigatingItem) {
    background-color: $focus;
    color: $pd-black;
}

.pd-dropdown-item {
    width: 100%;
    padding: 0.75rem 0.825rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 3rem;

    &:hover {
        background-color: $focus;
        color: $pd-black;
    }

    &:active {
        background-color: setcolor(primary, pressed);
        color: setcolor(primary, pressedContrast);
    }

    strong {
        font-weight: bold;
    }

    span {
        white-space: pre;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    &.pd-dropdown-item-selected {
        background-color: setcolor(primary, readonly);
        color: $pd-black;

        &:hover {
            background-color: $focus;
            color: $pd-black;
        }

        &:active {
            background-color: setcolor(primary, pressed);
            color: setcolor(primary, pressedContrast);
        }
    }

    .pd-dropdown-item-icon {
        transform: translateX(-0.25rem);
    }
}
