@include resetControlFonts;

:host {
    display: flex;
    position: relative;
    min-width: $min-component-width;
}

*,
::before,
::after {
    box-sizing: border-box;
    appearance: none;
}

label {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    &:hover {
        .pd-search-button {
            background-color: setcolor(primary, hover);
        }
    }

    &.pd-search-disabled {
        .pd-search-input {
            border: 0.125em solid setcolor(primary, disabled);
            border-right: none;
            background-color: $white;
        }

        .pd-search-clear {
            display: none;
        }

        .pd-search-button {
            border: 0.125em solid setcolor(primary, disabled);
            background-color: setcolor(primary, disabled) !important;
            cursor: default;
        }
    }

    &:focus {
        .pd-search-input {
            border: 0.125em solid $focus;
        }
    }
}

.pd-search-input-wrapper {
    display: flex;
    position: relative;
}

.pd-search-input {
    flex: 1 1 auto;
    min-width: 0;
    padding: 0.625em 0.875em;
    padding-right: 3em;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border: 0.125em solid setcolor(primary, enabled);
    border-right: none;

    &:focus {
        border: 0.125em solid $focus;
        border-right: none;

        & ~ .pd-search-button {
            border: 0.125em solid $focus;
            border-left: none;
        }
    }
}

.pd-search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 3em;
    height: 100%;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    background-color: setcolor(primary, enabled);
    border: 0.125em solid setcolor(primary, enabled);
    border-left: none;
    padding: 0;
    cursor: pointer;

    &:hover:active {
        background-color: setcolor(primary, pressed);
    }

    .pd-search-button-icon {
        fill: $white;
    }
}

.pd-search-clear {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 3.25em;
    height: calc(100% - 0.125em);
    top: 1px; // misaligned icon
    border: none;
    padding: 0;
    background-color: transparent;

    .pd-search-clear-icon {
        cursor: pointer;
        font-size: 4em;
        fill: setcolor(primary, enabled);

        &:hover {
            fill: setcolor(primary, hover);
        }

        &:active {
            fill: setcolor(primary, pressed);
        }
    }
}

.pd-search-label-text {
    padding-bottom: 0.25em;
}

.pd-search-dropdown {
    //position: absolute;
    background-color: $white;
    z-index: 100;
    //top: 3em;
    width: 100%;
    border: 0.125em solid setcolor(primary, enabled);
    border-radius: 0.25em;
    overflow-y: auto;
    max-height: calc(3em * 5 + 0.25em);
}
