@include reset;

:host {
    display: block;
    flex: 1;
}

.pd-table {
    display: flex;

    .pd-table-horizontal-scroll {
        overflow: auto;

        .pd-table-row,
        .pd-table-header-row {
            overflow: visible;
        }
    }
}

.pd-table-header-row {
    display: flex;
    flex-direction: row;
    height: 48px;
    color: $white;
    overflow: hidden;

    .pd-table-header-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;

        &.pd-table-sortable {
            user-select: none;
            cursor: pointer;

            &.pd-table-sort-asc::after {
                padding-left: 5px;
                content: '🠟';
            }

            &.pd-table-sort-desc::after {
                padding-left: 5px;
                content: '🠝';
            }
        }

        span {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &.dark {
            background-color: $blue-whale;
            border-bottom: 2px solid $blue-whale;
            border-top: 2px solid $blue-whale;

            &.pd-table-sortable {
                &:hover {
                    background-color: $cyan-9;
                }

                &:active {
                    background-color: $cyan-6;
                }
            }
        }

        &.light {
            border-bottom: 2px solid $blue-whale;
            border-top: 2px solid $blue-whale;
            color: $black;

            &.pd-table-sortable {
                &:hover {
                    background-color: $gray-3;
                }

                &:active {
                    background-color: $cyan-6;
                }
            }
        }

        &.gray {
            background-color: $gray-3;
            border-bottom: 2px solid $gray-3;
            border-top: 2px solid $gray-3;
            color: $black;

            &.pd-table-sortable {
                &:hover {
                    background-color: $bon-jour;
                }

                &:active {
                    background-color: $cyan-6;
                }
            }
        }
    }
}

.pd-table-body {
    .pd-table-row {
        display: flex;
        flex-direction: row;
        height: 48px;
        overflow: hidden;

        &:last-child {
            .pd-table-cell {
                border-bottom: none;
            }
        }
    }
}

.pd-table-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-bottom: 2px solid $gray-3;

    span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.pd-table-cell-bold {
    font: 16px/24px Avenir-Black;
}
