@include resetControlFonts;

:host {
    display: inline-block;
    vertical-align: bottom;
}

*,
::before,
::after {
    line-height: $input-btn-line-height;
    box-sizing: border-box;
    appearance: none;
    outline: none;
}

.pd-chip {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: 0.25rem 0.75rem;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: $bon-jour;
    color: $black;
    font-weight: 700;

    &.pd-chip-checked {
        background-color: setcolor(primary, pressed);
        color: $blue-whale;

        .pd-chip-icon {
            fill: $blue-whale;
        }
    }

    &:hover:enabled {
        background-color: setcolor(primary, hover);
        color: setcolor(primary, hoverContrast);

        .pd-chip-icon {
            fill: setcolor(primary, hoverContrast);
        }
    }

    &:disabled {
        background-color: setcolor(primary, disabled);
        color: setcolor(primary, disabledContrast);
        font-weight: 500;
        font-style: italic;
        cursor: default;

        .pd-chip-icon {
            fill: setcolor(primary, disabledContrast);
        }
    }

    &:active:enabled {
        background-color: setcolor(primary, pressed);
        color: setcolor(primary, pressedContrast);
        .pd-chip-icon {
            fill: setcolor(primary, pressedContrast);
        }
    }

    &.pd-chip-readonly {
        pointer-events: none;
        background-color: $gray-3;
        border-color: $gray-3;
        color: $pd-black;
        font-weight: 500;
        cursor: default;
    }

    &:focus-visible {
        background-color: $focus;
        color: $blue-whale;
        .pd-chip-icon {
            fill: $blue-whale;
        }
    }
}

.pd-chip-icon-left,
.pd-chip-icon-right {
    display: flex;
    align-items: center;
}

.pd-chip-icon-left {
    margin-right: 0.375rem;
}

.pd-chip-icon-right {
    margin-left: 0.375rem;
}

.pd-chip-remove {
    margin: 0;
    margin-left: 0.375rem;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus-visible pd-icon {
        fill: $focus;
    }
}
