:host {
    display: block;
    padding: 0 16px;
}

.pd-navbar-item {
    background-color: transparent;
    border: none;
    color: $cyan-3;
    font-weight: 700;
    font-size: $font-size-base;
    letter-spacing: 0.19px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $white;
    }

    &:focus {
        color: $yellow-2;
    }

    &:active {
        color: $cyan-6;
    }
}
