@include reset;

:host {
    display: block;
    padding: 0 16px;
}

* {
    font: 16px/24px Avenir-Black;
}

.pd-navbar-item {
    background-color: transparent;
    border: none;
    color: $cyan-3;
    font: 16px/24px Avenir-Black;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $white;
    }

    &:focus {
        color: $yellow-2;
    }

    &:active {
        color: $cyan-6;
    }
}
