pd-button-group {
    display: inline-flex;

    pd-button {
        --pd-button-right-radius: 0;
        --pd-button-left-radius: 0;
    }

    :first-child {
        --pd-button-left-radius: 0.25em;
    }

    :last-child {
        --pd-button-right-radius: 0.25em;
    }
}
