<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="//cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
        <script type="module" src="/build/parlamentsdienstecore.esm.js"></script>
        <script nomodule src="/build/parlamentsdienstecore.js"></script>
        <script>
            function async(u, c) {
                var d = document,
                    t = 'script',
                    o = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                o.src = u;
                if (c) {
                    o.addEventListener(
                        'load',
                        function(e) {
                            c(null, e);
                        },
                        false,
                    );
                }
                s.parentNode.insertBefore(o, s);
            }

            async('/assets/js/vue.min.js', function() {
                async('//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js', function() {
                    async('//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js', function() {
                        Vue.config.ignoredElements = [/^pd-/];
                        //  applyPolyfills().then(() => {
                        //      defineCustomElements(window);
                        //  });

                        const wm = new WeakMap();

                        Vue.directive('model-pd',{
                                    bind(el, binding, vnode) {
                                        // console.log('bind -> el', el);
                                        const inputHandler = event => {
                                            // console.log('bind -> event', event);
                                            // console.log('bind -> vnode.context', vnode.context);
                                            // console.log('bind -> binding.expression', binding.expression);
                                            // console.log('bind -> event.target.value', event.target.value);

                                            // Vue.set(vnode.context, binding.expression, event.target.value);
                                            var value = event.target.value;
                                            if ('' + event.target.value === 'true') value = true;
                                            if ('' + event.target.value === 'false') value = false;
                                            _.set(vnode.context, binding.expression, value);
                                        };
                                        wm.set(el, inputHandler);
                                        if(el.nodeName !== 'PD-RADIO') {
                                            el.value = binding.value;
                                        }
                                        el.addEventListener('input', inputHandler);
                                    },

                                    componentUpdated(el, binding) {
                                        // console.log('componentUpdated -> el', { el, binding });
                                        if(el.nodeName !== 'PD-RADIO') {
                                            el.value = binding.value;
                                        }
                                    },

                                    update(el, binding) {
                                        // console.log('update -> el', { el, binding });
                                    },

                                    unbind(el) {
                                        // console.log('unbind -> el', el);
                                        const inputHandler = wm.get(el);
                                        el.removeEventListener(el, inputHandler);
                                    },
                                });


                        var SurveyModal = {
                                    name: 'SurveyModal',
                                    props: [ 'title' ,'lastname' ],
                                    data: function () {
                                        return {
                                            firstname: '',
                                            lastname: '',
                                            state: '',
                                            happy: false,
                                            config: {
                                                title: this.$props.title,
                                                backdropVisible:true
                                            }
                                        }
                                    },
                                    methods: {
                                        ok: function () {
                                            this.state = 'ok';
                                            this.$refs.modal.closeModal();
                                        },
                                        cancel: function () {
                                            this.state = 'cancelled';
                                            this.$refs.modal.closeModal();
                                        },
                                        closed: function () {
                                            // console.log("state", this.state)
                                            // console.log("firstname", this.firstname)
                                            //  console.log("happy", this.happy)
                                            this.$emit('modal-close',{ firstname: this.firstname, lastname: this.lastname, state: this.state, happy:this.happy});
                                        }
                                    },
                                    template: '#survey-template'
                                };

                        var app = new Vue({
                            el: '#app',
                            data: {
                                test: 'start',
                                stateItems: [
                                    { label: 'danger', value: 'danger', id: 0 },
                                    { label: 'dark', value: 'dark', id: 1 },
                                    { label: 'info', value: 'info', id: 2 },
                                    { label: 'light', value: 'light', id: 3 },
                                    { label: 'primary', value: 'primary', id: 4 },
                                    { label: 'success', value: 'success', id: 5, selected: true },
                                    { label: 'warning', value: 'warning', id: 6 },
                                ],
                                table: {
                                    rows: [
                                        {
                                            id: 1,
                                            colName: 'test',
                                            colText: 's sd saldjsladklsadk öaskdsöaldksaö dsakdöas',
                                            colDate: new Date(),
                                            colNumber: 1,
                                        },
                                        {
                                            id: 2,
                                            colName: 'test 1',
                                            colText: 's sd saldjsladklsadk öaskdsöaldksaö dsakdöas',
                                            colDate: new Date('2001-01-02'),
                                            colNumber: 3,
                                        },
                                        {
                                            id: 3,
                                            colName: 'test 2',
                                            colText: 's sd saldjsladklsadk öaskdsöaldksaö dsakdöas',
                                            colDate: new Date('2021-02-02'),
                                            colNumber: 21,
                                        },
                                        {
                                            id: 4,
                                            colName: 'test 3',
                                            colText: 's sd saldjsladklsadk öaskdsöaldksaö dsakdöas',
                                            colDate: new Date('2001-02-02'),
                                            colNumber: 31,
                                        },
                                    ],
                                    columns: [
                                        {
                                            columnName: 'id',
                                            label: '#',
                                            width: 50,
                                            bold: true,
                                            sortable: true,
                                            sortDir: 'desc',
                                            fixed: true,
                                        },
                                        {
                                            columnName: 'colName',
                                            label: 'Name',
                                            width: 100,
                                            bold: true,
                                            textAlign: 'right',
                                            fixed: true,
                                        },
                                        {
                                            columnName: 'colText',
                                            label: 'Text',
                                            width: 0,
                                            minWidth: 300,
                                            bold: false,
                                            textAlign: 'left',
                                        },
                                        {
                                            columnName: 'colDate',
                                            label: 'Created',
                                            width: 100,
                                            sortable: true,
                                            bold: false,
                                        },
                                        {
                                            columnName: 'colNumber',
                                            label: 'Count',
                                            width: 100,
                                            bold: false,
                                            sortable: true,
                                        },
                                    ],
                                },
                                config: {
                                    button: {
                                        caption: 'click here',
                                        color: 'success',
                                        disabled: false,
                                        type: 'button',
                                    },
                                },
                                rednerListe: [
                                    {
                                        id: 18.426,
                                        title: 'Jagdgesetz.',
                                        description: 'Änderung Kategorie IIIb',
                                        status: 'success',
                                    },
                                    {
                                        id: 123.426,
                                        title: 'Waffengesetz.',
                                        description: 'WBK-NR: Antrag auf Ablehnung',
                                        status: 'danger',
                                    },
                                    {
                                        id: 21.426,
                                        title: 'Umweltgesetz.',
                                        description: 'Änderung Kategorie IIIb, Beispiel Drag&Drop Sortierung',
                                        status: 'success',
                                    },
                                    {
                                        id: 231.426,
                                        title: 'Strafgesetz.',
                                        description: 'Änderung Kategorie XXIb, Beispiel Drag&Drop Sortierung',
                                        status: 'unset',
                                    },
                                ],
                                alerts: [],
                                suggestions: [],
                                search:'',
                                searchResults: {
                                    show:false,
                                    
                                    config: {
                                        title: 'Suchresultate',
                                        backdropVisible:true,
                                        close: ()=> {},    
                                    },
                                    columns: [{
                                            columnName: 'title',
                                            label: 'Title',
                                            width: 250,
                                            bold: true,
                                            textAlign: 'right',
                                        },
                                        {
                                            columnName: 'url',
                                            label: 'URL',
                                            width: 0,
                                            minWidth: 300,
                                            bold: false,
                                            textAlign: 'left',
                                            displayFunc: link=> `<pd-button href="${link}" type="text" icon-location="right" class="hydrated">${link}<pd-icon slot="icon" size="2" src="/assets/icons/icon_link_intern.svg" role="img" class="hydrated" style="fill: var(--primary); vertical-align: bottom; font-size: 2em;"></pd-icon></pd-button>`
                                        }],
                                    rows: []
                                },
                            },
                            mounted: function () {
                                const vm = this;
                                this.searchResults.config.close= ()=> { vm.searchResults.show = false; }
                            },
                            methods: {
                                click: function(e) {
                                    console.log('vue click', e.target);
                                    console.log('vue event: ', e);
                                },
                                input: function(e) {
                                    console.log('vue input', e.target);
                                    console.log('vue input value', e.value);
                                    console.log('vue input data', e.data);
                                    console.log('vue event: ', e);
                                },
                                addRow: function() {
                                    const ix = this.table.rows.length;
                                    this.table.rows.push(Object.assign({}, this.table.rows[0], { id: ix + 1 }));
                                    this.table.rows = [].concat(this.table.rows);
                                },
                                alert: function(status) {
                                    if (status === 'success')
                                        this.alerts.push({
                                            message: 'Gespeichert und alles OK... ' + new Date().toISOString(),
                                            status,
                                        });
                                    else
                                        this.alerts.push({
                                            message:
                                                'Ups, es ist etwas Unvorhergesehenes vorgefallen... ' +
                                                new Date().toISOString(),
                                            status,
                                        });
                                },
                                removeAlert: function(ele) {
                                    // console.log('alert ele', ele);
                                    this.alerts = this.alerts.filter(x => x.message !== ele.target.textContent);
                                },
                                modalClosed: function (params) {
                                    // modal has removed itself from DOM
                                    // console.log("modalClosed params", params)
                                    if(params.state === 'ok') {
                                        if(params.happy) {
                                            this.alerts.push({
                                                message: 'Hallo ' + params.firstname + " "   + params.lastname + ', schön dass Sie zufrieden sind.',
                                                status: 'success',
                                            });
                                        } else {
                                            this.alerts.push({
                                                message: 'Hallo ' + params.firstname + " "   + params.lastname + ', schade dass Sie unzufrieden sind.' ,
                                                status: 'warning',
                                            });
                                        }
                                    }
                                },
                                openModal: function(title) {
                                    // dynamic instancing of componentents, for modaldialogs
                                    var SurveyModalClass = Vue.extend(SurveyModal)
                                    var instance = new SurveyModalClass({
                                        propsData: { title }
                                    })
                                    // register close handler for data
                                    instance.$once('modal-close',this.modalClosed)
                                    // mount
                                    instance.$mount() // pass nothing
                                    // insert into DOM
                                    this.$el.appendChild(instance.$el)
                                },
                                suggest: function (text) {
                                    // console.log("text", text)
                                    var vm = this;
                                    this.search = text;
                                    var url = 'https://de.wikipedia.org/w/api.php?action=opensearch&origin=*&search=' + text + '&limit=10&namespace=0&format=json';
                                    fetch(url,{method: "GET"}).then(function (response,e) {
                                        return response.json();
                                    }).then(function (result) {
                                        vm.suggestions =  result[1] || [];   
                                    }); 
                                },
                                searchText: function (text) {
                                    // console.log("text", text)
                                    var vm = this;
                                    this.search = text;
                                    var url = 'https://de.wikipedia.org/w/api.php?action=opensearch&origin=*&search=' + text + '&limit=10&namespace=0&format=json';
                                    fetch(url,{method: "GET"}).then(function (response,e) {
                                        return response.json();
                                    }).then(function (result) {
                                        vm.searchResults.rows =  _.zipWith(result[1],result[3], function(a,b) { return {title:a,url:b };}) || [];
                                        vm.searchResults.show = true;   
                                    }); 
                                }
                            },
                            computed: {
                                selectedStateItem: function() {
                                    console.log('stateItems', this.stateItems);
                                    return this.stateItems.find(x => x.selected);
                                },
                            },

                            components: {
                                draggable: vuedraggable,
                            },
                        });
                    });
                });
            });

            function vanillaclick(e) {
                console.log('vanilla clicked', e.target);
                console.log('event: ', e);
            }
        </script>

        <script type="text/x-template" id="survey-template">
            <pd-modal ref="modal" open="true" :config.prop="config" @pd-modal-when-closed ="closed()">
                <div  @keyup.enter="ok()" >
                    <p>Sind Sie</p><pd-radio name="happy" value="true" v-model-pd="happy" label="Zufrieden"></pd-radio>
                    <pd-radio name="happy" value="false" v-model-pd="happy" label="Unzufrieden"></pd-radio>
                    <pd-input class="form-group" v-model-pd="firstname" inputmode="text" label="Vorname" ></pd-input>
                    <pd-input class="form-group" v-model-pd="lastname" inputmode="text" label="Name" ></pd-input>
                </div>
                <div slot="footer">
                    <pd-button @click="cancel()" type="button" outline color="primary" >Cancel</pd-button>
                    <pd-button @click="ok()" type="submit" @keyup.enter="ok()"  color="primary" >Übernehmen</pd-button>
                </div>
            </pd-modal>
        </script>

        <link href="/build/parlamentsdienstecore.css" rel="stylesheet" />
        <style>
            pd-sidebar {
                margin-left: -15px;
            }
            pd-panel-footer pd-button {
                margin: 0.25rem;
            }
            pd-alert {
                margin-top: 0.25rem;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <pd-navbar>
                <pd-navbar-item text="Startseite"></pd-navbar-item>
                <pd-navbar-item text="Organe"></pd-navbar-item>
                <pd-navbar-item text="Vorst&ouml;sse"></pd-navbar-item>
                <pd-navbar-item text="Gesch&auml;ft suchen" href="https://lambda-it.ch"></pd-navbar-item>
            </pd-navbar>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-auto d-none d-md-block">
                        <pd-sidebar>
                            <pd-sidebar-item
                                text="Mitteilungen"
                                icon="/assets/icons/icon-new_post.svg"
                                size='1.5'
                            ></pd-sidebar-item>
                            <pd-sidebar-item
                                text="Meine Ablage"
                                icon="/assets/icons/icon_ablage.svg"
                            ></pd-sidebar-item>
                            <pd-sidebar-item
                                text="Recherchen"
                                href="https://lambda-it.ch"
                                icon="/assets/icons/icon_recherche.svg"
                            >
                            </pd-sidebar-item>
                        </pd-sidebar>
                    </div>
                    <div class="col">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Start</a></li>
                                <li class="breadcrumb-item"><a href="#">Ablage</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Meine Ablage</li>
                            </ol>
                        </nav>
                        <pd-alert
                            v-for="alert in alerts"
                            :key="alert.message"
                            :color="alert.status"
                            closable="true"
                            @pd-on-closed="removeAlert"
                            >{{alert.message}}</pd-alert
                        >
                        <div class="row">
                            <div class="col-md-8">
                                <pd-panel class="mt-4" collapsible>
                                    <pd-panel-header slot="header">Sample Table</pd-panel-header>
                                    <pd-panel-content>
                                        <div class="mb-4">
                                            <p class="lead">Sitzung der WBK-NR vom 27/28. Juni 2019</p>
                                            <p>Donnerstag, 27. Juni 2019, 10.15-18.30 Uhr</p>
                                            <p>Freitag, 28. Juni 2019, 10.15-18.30 Uhr</p>
                                            <a href="https://lambda-it.ch">Zur Sitzungsansicht</a>
                                        </div>
                                        <pd-table
                                            header-style="light"
                                            :rows.prop="table.rows"
                                            :columns.prop="table.columns"
                                        ></pd-table>
                                    </pd-panel-content>
                                    <pd-panel-footer slot="footer">
                                        <pd-button @click="alert('success')" type="button" color="success"
                                            >Success</pd-button
                                        >
                                        <pd-button @click="alert('warning')" type="button" color="warning"
                                            >Warning</pd-button
                                        >
                                        <pd-button @click="alert('danger')" type="button" color="danger"
                                            >Danger</pd-button
                                        >
                                        <pd-button @click="addRow" type="button" color="primary">Add Row</pd-button>
                                    </pd-panel-footer>
                                </pd-panel>
                                <pd-panel class="mt-4" collapsible>
                                    <pd-panel-header slot="header"
                                        >Session – Eintritt in virtuellen Beratungsraum</pd-panel-header
                                    >
                                    <pd-panel-content>
                                        <div class="row">
                                            <pd-panel class="col-sm-6">
                                                <pd-panel-header slot="header">Nationalrat</pd-panel-header>
                                                <pd-panel-content>
                                                    <div class="card-group">
                                                        <div class="card">
                                                            <img
                                                                src="/assets/images/nr-moret-560x260a.jpg"
                                                                class="card-img-top"
                                                                alt="Isabelle Moret"
                                                            />
                                                            <div class="card-body">
                                                                <h5 class="card-title">Präsidentin Isabelle Moret</h5>
                                                                <p class="card-text">
                                                                    Nationalrätin aus dem Kanton Waadt, Partei FDP.<br>
                                                                    Some quick example text to build on the card title and make up the bulk of the card’s content.
                                                                </p>
                                                                <p class="card-text">
                                                                    <small class="text-muted"
                                                                        >Last updated 3 mins ago</small
                                                                    >
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <img
                                                                src="/assets/images/nr-aebi-560x260.jpg"
                                                                class="card-img-top"
                                                                alt="Andreas Aebi"
                                                            />
                                                            <div class="card-body">
                                                                <h5 class="card-title">
                                                                    1. Vizepräsident Andreas Aebi
                                                                </h5>
                                                                <p class="card-text">
                                                                    Nationalrat aus dem Kanton Bern, Partei SVP.<br>
                                                                    Some quick example text to build on the card title and make up the bulk of the card’s content.
                                                                </p>
                                                                <p class="card-text">
                                                                    <small class="text-muted"
                                                                        >Last updated 10 days ago</small
                                                                    >
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <img
                                                                src="/assets/images/nr-kaelin-560-260.jpg"
                                                                class="card-img-top"
                                                                alt="Irène Kälin"
                                                            />
                                                            <div class="card-body">
                                                                <h5 class="card-title">
                                                                    2. Vizepräsidentin Irène Kälin
                                                                </h5>
                                                                <p class="card-text">
                                                                    Nationalrätin aus dem Kanton Argau, Partei GPS.<br>
                                                                    Some quick example text to build on the card title and make up the bulk of the card’s content.
                                                                </p>
                                                                <p class="card-text">
                                                                    <small class="text-muted"
                                                                        >Last updated 3 years ago</small
                                                                    >
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </pd-panel-content>
                                            </pd-panel>
                                            <pd-panel
                                                class="col-sm-6"
                                                style="--pd-list-background: #f8f9fa; --pd-list-border-color: white"
                                            >
                                                <pd-panel-header slot="header">Aktuelle Rednerliste</pd-panel-header>
                                                <pd-panel-content style="--pd-panel-content-padding: 0;">
                                                    <pd-list
                                                        ><draggable
                                                            v-model="rednerListe"
                                                            @start="drag=true"
                                                            @end="drag=false"
                                                        >
                                                            <pd-list-item
                                                                v-for="redner in rednerListe"
                                                                :key="redner.id"
                                                                :status="redner.status"
                                                            >
                                                                <p class="mb-1">{{redner.id}}</p>
                                                                <h5 class="mb-1">{{redner.title}}</h5>
                                                                <p class="mb-1">{{redner.description}}</p>
                                                            </pd-list-item></draggable
                                                        >
                                                    </pd-list>
                                                </pd-panel-content>
                                            </pd-panel>
                                        </div>
                                    </pd-panel-content>
                                </pd-panel>
                            </div>
                            <div class="col-md-4">
                                <pd-panel class="mt-4" collapsible>
                                    <pd-panel-header slot="header">Meine Anträge</pd-panel-header>
                                    <pd-panel-content style="--pd-panel-content-padding: 0;">
                                        <pd-list>
                                            <pd-list-item status="success">
                                                <p class="mb-1">18.3708</p>
                                                <a class="mb-1">SiK-NR: Antrag auf Annahme</a>
                                            </pd-list-item>
                                            <pd-list-item status="danger">
                                                <p class="mb-1">16.3112</p>
                                                <a class="mb-1">WBK-NR: Antrag auf Ablehnung </a>
                                            </pd-list-item>
                                            <pd-list-item status="unset">
                                                <p class="mb-1">17.4654</p>
                                                <a class="mb-1">SRB-NR: Antrag auf Ablehnung </a>
                                            </pd-list-item>
                                        </pd-list>
                                    </pd-panel-content>
                                    <pd-panel-footer slot="footer">
                                        <pd-button href="https://lambda-it.ch" type="text" icon-location="right"
                                            >Zur Antragsverwaltung<pd-icon
                                                slot="icon"
                                                size="2"
                                                style="fill: var(--primary); vertical-align: bottom;"
                                                src="/assets/icons/icon_link_intern.svg"
                                            ></pd-icon
                                        ></pd-button>
                                    </pd-panel-footer>
                                </pd-panel>
                                <pd-panel class="mt-4" collapsible>
                                    <pd-panel-header slot="header">Umfragen und Suche</pd-panel-header>
                                    <pd-panel-content style="--pd-panel-content-padding: 0;">
                                        <pd-list>
                                            <pd-list-item >
                                                <p class="mb-1">Zur Demonstration von Modaldialogen und ihrem Datenfluss können Sie eine Umfrage starten.</p>
                                        <pd-button  type="button" icon-location="right" @click="openModal('Umfrage 1')"
                                            >Zur Umfrage 1 <pd-icon
                                                slot="icon"
                                                size="2"
                                                style="fill: var(--white); vertical-align: bottom;"
                                                src="/assets/icons/icon_message.svg"
                                            ></pd-icon
                                        ></pd-button></pd-list-item>
                                        <pd-list-item><p class="mb-1">Zur Demonstration von Modaldialogen und ihrem Datenfluss können Sie eine Umfrage starten.</p>
                                        <pd-button  type="button" icon-location="right" @click="openModal('Umfrage 2')"
                                            >Zur Umfrage 2 <pd-icon
                                                slot="icon"
                                                size="2"
                                                style="fill: var(--white); vertical-align: bottom;"
                                                src="/assets/icons/icon_message.svg"
                                            ></pd-icon
                                        ></pd-button></pd-list-item>
                                        <pd-list-item>
                                            <p class="mb-1">Zur Demonstration von Modaldialogen und ihrem Datenfluss können Sie eine Suche starten.</p>
                                            <pd-search placeholder="Suche" :results.prop="suggestions" @pd-on-input="suggest($event.detail.value)" :value="search" @pd-on-search="searchText($event.detail.value)" ></pd-search>
                                        </pd-list-item>
                                        </pd-list>
                                        <pd-modal v-if="searchResults.show" :open="searchResults.show" :config.prop="searchResults.config" >
                                            <pd-table
                                            header-style="gray"
                                            :rows.prop="searchResults.rows"
                                            :columns.prop="searchResults.columns"
                                        ></pd-table>
                                        </pd-modal>
                                    </pd-panel-content>
                                    <pd-panel-footer slot="footer">
                                        
                                    </pd-panel-footer>
                                    
                                </pd-panel>
                                <pd-panel class="mt-4" collapsible>
                                    <pd-panel-header slot="header">Sample Form</pd-panel-header>

                                    <pd-panel-content>
                                        <form>
                                            <h1>Heading 1</h1>
                                            <h2>Heading 2</h2>
                                            <h3>Heading 3</h3>
                                            <p>Form</p>
                                            <pd-input class="form-group"
                                                v-model-pd="config.button.caption"
                                                inputmode="text"
                                                label="button text"
                                            ></pd-input>
                                            <h4>{{config.button.caption}}</h4>
                                            <pd-input class="form-group"
                                                inputmode="text"
                                                pattern="button|type|submit"
                                                label="button type"
                                                v-model-pd="config.button.type"
                                            ></pd-input>
                                            <pd-checkbox class="form-group"
                                                text="button disabled"
                                                v-model="config.button.disabled"
                                                v-model-pd="config.button.disabled"
                                            ></pd-checkbox>
                                            <pd-dropdown class="form-group" :items.prop="stateItems" label="button color" @pd-on-change="config.button.color=$event.detail.label"></pd-dropdown>
                                            <h4>{{config.button.color}}</h4>
                                        </form>
                                        <pre><code>&lt;pd-button @click="click" :type="config.button.type" :disabled="config.button.disabled" :color='config.button.color'&gt;&#123;&#123;config.button.caption&#125;&#125;&lt;/pd-button&gt;</code></pre>
                                    </pd-panel-content>
                                    <pd-panel-footer slot="footer">
                                        <pd-button
                                            @click="click"
                                            :type="config.button.type"
                                            :disabled="config.button.disabled"
                                            :color="config.button.color"
                                            >{{config.button.caption}}</pd-button
                                        >
                                    </pd-panel-footer>
                                </pd-panel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
