:host {
    display: flex;
    align-items: center;
    background-color: $blue-whale;
    color: white;
    padding: 0 1.25em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    min-height: 3em;
    font-weight: 700;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

.pd-panel-header-content {
    flex: 1 1 auto;
}
.pd-panel-header-collapse {
    display: flex;
    align-items: center;
    cursor: pointer;
    fill: $white;
}
