:host {
    display: flex;
    align-items: center;
    background-color: $blue-whale;
    color: white;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-weight: 700;
    transition: border-radius 0.3s ease-in-out;
}

:host(.pd-panel-header-collapsed) {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

:host(.pd-panel-header-hover) {
    background-color: $juniper;
    cursor: pointer;

    .pd-panel-header-collapse {
        fill: $white;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
    appearance: none;
}

.pd-panel-header-icons {
    margin-right: 0.875rem;
    display: flex;
    fill: setcolor(primary, pressed);

    ::slotted(pd-icon:hover),
    pd-icon:hover {
        fill: $white;
        cursor: pointer;
    }
}

.pd-panel-header-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    min-height: 3rem;
    padding: 0.625rem 1.25rem;

    .pd-panel-header-subtitle {
        font-size: 1rem;
        font-weight: 500;
        color: $white;
    }
}

.pd-panel-header-collapse {
    @include invisibleButton;
    display: flex;
    align-items: center;
}

/** Subpanel **/

:host(.pd-panel-header-subpanel) {
    background-color: transparent;
    border-radius: 0;
    color: $blue-whale;
    min-height: 2.75rem;

    .pd-panel-header-content {
        padding: 0.625rem 0;

        .pd-panel-header-subtitle {
            color: $black;
        }
    }

    .pd-panel-header-icons {
        margin-right: 0;
    }

    ::slotted(pd-icon:hover),
    pd-icon:hover {
        fill: $cyan-6;
    }
}

:host(.pd-panel-header-subpanel.pd-panel-header-hover) {
    .pd-panel-header-collapse {
        fill: $cyan-6;
    }
}
