:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 68px;
    background-color: $blue-whale;
    color: $white;
    padding: 0 100px;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.pd-navbar-icon {
    min-width: 34px;
    fill: $white;
}
