:host {
    display: flex;
    position: relative;
}

.slider-background {
    background-color: gray;
    position: absolute;
    width: 100%;
    height: 6px;
}

.slider-bar {
    background-color: red;
    position: absolute;
    width: 30%;
    height: 6px;
}

.slider-knob {
    background-color: blue;
    position: relative;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    margin-left: -4px;
    margin-top: -4px;
    left: 30%;
    cursor: pointer;
}
